{% load static i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}ZIPCODEIT{% endblock %}</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    {% include 'base/head_scripts.html' %}
    {% block head_bar_css %}

    {% endblock %}
</head>
<body>
<!-- nav start -->
{% block nav %}
    <div class="navbar-header-Second-inner w-100">
        {% include 'base/nav.html' %}
        {% include 'base/head_bar.html' %}
    </div>
{% endblock %}
<!-- nav end -->

{% block page %}
{% endblock %}


{% include 'base/footer.html' %}

{% include 'forms/login_signup.html' %}

{% include 'merchant_forms/business_form.html' %}

{% include 'merchant_forms/form_script.html' %}

{#{% include 'base/google-map-js.html' %}#}

<script src="{% static 'js/page-js.js' %}"></script>

{% block js %}
{% endblock %}

{% block html-js %}
{% endblock %}

</body>
</html>