{% extends 'base.html' %}
{% load  static i18n %}

    {% block head_bar_css %}

    {% endblock %}


{% block nav %}
    {% include 'base/top_bar_index.html' %}
{% endblock %}

{% block page %}

    {#    header image section #}

    {% include 'components/index_center.html' %}


    <!--what-you-need-->

    {% include 'components/industry_choice.html' %}



    <!--recommendations-->
    <div class="container-fluid pl-0 pr-0 recommendationsMain">
        <div class="container p-0">

            {% include 'components/index_recommended.html' %}


            <!--top-rated-experinces-->
            <div class="row ml-0 mr-0 pl-3 w-100 heading-all--section">
                <h5 class="w-100 mb-0">Top Rated Experience</h5>
            </div>
            <div class="row m-0 w-100 rated-experinces--section align-items-center justify-content-space-between">

                {% include 'components/index_business_icon.html' with obj_list=top_rated %}

                {% include 'components/additional_index_component.html' %}

            </div>
        </div>
    </div>




{% endblock %}

