{% extends 'base.html' %}
{% load i18n %}
{#		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">#}
{#		<link rel="stylesheet" type="text/css" href="css/bootstrap-select.min.css">#}
{#		<link rel="stylesheet" type="text/css" href="css/cast.css">#}
{#		<link rel="stylesheet" type="text/css" href="css/slider.css" >#}
{#		<link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css">#}

{% block page %}


		<!--exceriseMain-->
		<div class="container-fluid recommendationsMain exceriseMain maplocation--fluid">
			<div class="row m-0 w-100">
				<div class="col-sm-6 col-12 pl-0 pr-0 pt-4 mt-2">

                    <div class="row ml-0 mr-0 pl-3 w-100 heading-all--section headng-inner2sec align-items-center justify-content-space-between">
						<h5 class="mb-0">Exercise <span class="sub-heading">2646 matched criteria</span></h5>
						<ul class="mb-0 list-inline d-flex align-items-center justify-content-space-between">
							<li class="list-inline-item listtabSec">
								<button class="bars"><i class="fa fa-bars" aria-hidden="true"></i></button>
								<button class="windowSec active"><i class="fa fa-th-large" aria-hidden="true"></i></button>
							</li>
							<li class="list-inline-item">
								<button class="view--map">View On Map</button>
							</li>
						</ul>
					</div>
					<div class="row m-0 w-100 pr-1 rated-experinces--section map-ranking--sec align-items-center justify-content-space-between">
						<div class="experince--innerDetails exceriseMain--innerDetails map-section-list">
							<a href="choice.html">
							<div class="row m-0 w-100 innerDetails--img">
								<img class="img-fluid" src="images/wellness1.png" alt="wellness1">
								<span class="cat-star--rating"><i class="fa fa-star"></i> 4.2</span>
							</div>
							<div class="row m-0 w-100 innerDetails--content">
								<h6 class="text-uppercase">Wellness <span class="before-dot">Exercise</span></h6>
								<h5>Manhattan Motion Dance Studio</h5>
								<p>2726 Broadway, NYC, USA</p>
								<span class="mi-sec">0.4mi</span>
							</div>
							</a>
						</div>
						<div class="experince--innerDetails exceriseMain--innerDetails map-section-list">
							<a href="choice.html">
							<div class="row m-0 w-100 innerDetails--img">
								<img class="img-fluid" src="images/wellness2.png" alt="wellness2">
								<span class="cat-star--rating"><i class="fa fa-star"></i> 4.2</span>
							</div>
							<div class="row m-0 w-100 innerDetails--content">
								<h6 class="text-uppercase">Wellness <span class="before-dot">Exercise</span></h6>
								<h5>Manhattan Motion Dance Studio</h5>
								<p>2726 Broadway, NYC, USA</p>
								<span class="mi-sec">0.4mi</span>
							</div>
							</a>
						</div>
						<div class="experince--innerDetails exceriseMain--innerDetails map-section-list">
							<a href="choice.html">
							<div class="row m-0 w-100 innerDetails--img">
								<img class="img-fluid" src="images/wellness3.png" alt="wellness3">
								<span class="cat-star--rating"><i class="fa fa-star"></i> 4.2</span>
							</div>
							<div class="row m-0 w-100 innerDetails--content">
								<h6 class="text-uppercase">Wellness <span class="before-dot">Exercise</span></h6>
								<h5>Manhattan Motion Dance Studio</h5>
								<p>2726 Broadway, NYC, USA</p>
								<span class="mi-sec">0.4mi</span>
							</div>
							</a>
						</div>
						<div class="experince--innerDetails exceriseMain--innerDetails map-section-list">
							<a href="choice.html">
							<div class="row m-0 w-100 innerDetails--img">
								<img class="img-fluid" src="images/wellness4.png" alt="wellness4">
								<span class="cat-star--rating"><i class="fa fa-star"></i> 4.2</span>
							</div>
							<div class="row m-0 w-100 innerDetails--content">
								<h6 class="text-uppercase">Wellness <span class="before-dot">Exercise</span></h6>
								<h5>Manhattan Motion Dance Studio</h5>
								<p>2726 Broadway, NYC, USA</p>
								<span class="mi-sec">0.4mi</span>
							</div>
							</a>
						</div>
						<div class="experince--innerDetails exceriseMain--innerDetails map-section-list">
							<a href="choice.html">
							<div class="row m-0 w-100 innerDetails--img">
								<img class="img-fluid" src="images/wellness5.png" alt="wellness5">
								<span class="cat-star--rating"><i class="fa fa-star"></i> 4.2</span>
							</div>
							<div class="row m-0 w-100 innerDetails--content">
								<h6 class="text-uppercase">Wellness <span class="before-dot">Exercise</span></h6>
								<h5>Manhattan Motion Dance Studio</h5>
								<p>2726 Broadway, NYC, USA</p>
								<span class="mi-sec">0.4mi</span>
							</div>
							</a>
						</div>
						<div class="experince--innerDetails exceriseMain--innerDetails map-section-list">
							<a href="choice.html">
							<div class="row m-0 w-100 innerDetails--img">
								<img class="img-fluid" src="images/wellness6.png" alt="wellness6">
								<span class="cat-star--rating"><i class="fa fa-star"></i> 4.2</span>
							</div>
							<div class="row m-0 w-100 innerDetails--content">
								<h6 class="text-uppercase">Wellness <span class="before-dot">Exercise</span></h6>
								<h5>Manhattan Motion Dance Studio</h5>
								<p>2726 Broadway, NYC, USA</p>
								<span class="mi-sec">0.4mi</span>
							</div>
							</a>
						</div>
						<div class="experince--innerDetails exceriseMain--innerDetails map-section-list">
							<a href="choice.html">
							<div class="row m-0 w-100 innerDetails--img">
								<img class="img-fluid" src="images/wellness6.png" alt="wellness6">
								<span class="cat-star--rating"><i class="fa fa-star"></i> 4.2</span>
							</div>
							<div class="row m-0 w-100 innerDetails--content">
								<h6 class="text-uppercase">Wellness <span class="before-dot">Exercise</span></h6>
								<h5>Manhattan Motion Dance Studio</h5>
								<p>2726 Broadway, NYC, USA</p>
								<span class="mi-sec">0.4mi</span>
							</div>
							</a>
						</div>

						<div class="experince--innerDetails exceriseMain--innerDetails map-section-list">
							<a href="choice.html">
							<div class="row m-0 w-100 innerDetails--img">
								<img class="img-fluid" src="images/wellness7.png" alt="wellness7">
								<span class="cat-star--rating"><i class="fa fa-star"></i> 4.2</span>
							</div>
							<div class="row m-0 w-100 innerDetails--content">
								<h6 class="text-uppercase">Wellness <span class="before-dot">Exercise</span></h6>
								<h5>Manhattan Motion Dance Studio</h5>
								<p>2726 Broadway, NYC, USA</p>
								<span class="mi-sec">0.4mi</span>
							</div>
							</a>
						</div>

						<div class="experince--innerDetails exceriseMain--innerDetails map-section-list">
							<a href="choice.html">
							<div class="row m-0 w-100 innerDetails--img">
								<img class="img-fluid" src="images/wellness8.png" alt="wellness8">
								<span class="cat-star--rating"><i class="fa fa-star"></i> 4.2</span>
							</div>
							<div class="row m-0 w-100 innerDetails--content">
								<h6 class="text-uppercase">Wellness <span class="before-dot">Exercise</span></h6>
								<h5>Manhattan Motion Dance Studio</h5>
								<p>2726 Broadway, NYC, USA</p>
								<span class="mi-sec">0.4mi</span>
							</div>
							</a>
						</div>

						<div class="experince--innerDetails exceriseMain--innerDetails map-section-list">
							<a href="choice.html">
							<div class="row m-0 w-100 innerDetails--img">
								<img class="img-fluid" src="images/wellness9.png" alt="wellness9">
								<span class="cat-star--rating"><i class="fa fa-star"></i> 4.2</span>
							</div>
							<div class="row m-0 w-100 innerDetails--content">
								<h6 class="text-uppercase">Wellness <span class="before-dot">Exercise</span></h6>
								<h5>Manhattan Motion Dance Studio</h5>
								<p>2726 Broadway, NYC, USA</p>
								<span class="mi-sec">0.4mi</span>
							</div>
							</a>
						</div>

						<div class="experince--innerDetails exceriseMain--innerDetails map-section-list">
							<a href="choice.html">
							<div class="row m-0 w-100 innerDetails--img">
								<img class="img-fluid" src="images/wellness1.png" alt="wellness1">
								<span class="cat-star--rating"><i class="fa fa-star"></i> 4.2</span>
							</div>
							<div class="row m-0 w-100 innerDetails--content">
								<h6 class="text-uppercase">Wellness <span class="before-dot">Exercise</span></h6>
								<h5>Manhattan Motion Dance Studio</h5>
								<p>2726 Broadway, NYC, USA</p>
								<span class="mi-sec">0.4mi</span>
							</div>
							</a>
						</div>
						<div class="experince--innerDetails exceriseMain--innerDetails map-section-list">
							<a href="choice.html">
							<div class="row m-0 w-100 innerDetails--img">
								<img class="img-fluid" src="images/wellness2.png" alt="wellness2">
								<span class="cat-star--rating"><i class="fa fa-star"></i> 4.2</span>
							</div>
							<div class="row m-0 w-100 innerDetails--content">
								<h6 class="text-uppercase">Wellness <span class="before-dot">Exercise</span></h6>
								<h5>Manhattan Motion Dance Studio</h5>
								<p>2726 Broadway, NYC, USA</p>
								<span class="mi-sec">0.4mi</span>
							</div>
							</a>
						</div>
						<div class="experince--innerDetails exceriseMain--innerDetails map-section-list">
							<a href="choice.html">
							<div class="row m-0 w-100 innerDetails--img">
								<img class="img-fluid" src="images/wellness3.png" alt="wellness3">
								<span class="cat-star--rating"><i class="fa fa-star"></i> 4.2</span>
							</div>
							<div class="row m-0 w-100 innerDetails--content">
								<h6 class="text-uppercase">Wellness <span class="before-dot">Exercise</span></h6>
								<h5>Manhattan Motion Dance Studio</h5>
								<p>2726 Broadway, NYC, USA</p>
								<span class="mi-sec">0.4mi</span>
							</div>
							</a>
						</div>
						<div class="experince--innerDetails exceriseMain--innerDetails map-section-list">
							<a href="choice.html">
							<div class="row m-0 w-100 innerDetails--img">
								<img class="img-fluid" src="images/wellness4.png" alt="wellness4">
								<span class="cat-star--rating"><i class="fa fa-star"></i> 4.2</span>
							</div>
							<div class="row m-0 w-100 innerDetails--content">
								<h6 class="text-uppercase">Wellness <span class="before-dot">Exercise</span></h6>
								<h5>Manhattan Motion Dance Studio</h5>
								<p>2726 Broadway, NYC, USA</p>
								<span class="mi-sec">0.4mi</span>
							</div>
							</a>
						</div>
						<div class="experince--innerDetails exceriseMain--innerDetails map-section-list">
							<a href="choice.html">
							<div class="row m-0 w-100 innerDetails--img">
								<img class="img-fluid" src="images/wellness5.png" alt="wellness5">
								<span class="cat-star--rating"><i class="fa fa-star"></i> 4.2</span>
							</div>
							<div class="row m-0 w-100 innerDetails--content">
								<h6 class="text-uppercase">Wellness <span class="before-dot">Exercise</span></h6>
								<h5>Manhattan Motion Dance Studio</h5>
								<p>2726 Broadway, NYC, USA</p>
								<span class="mi-sec">0.4mi</span>
							</div>
							</a>
						</div>
						<div class="experince--innerDetails exceriseMain--innerDetails map-section-list">
							<a href="choice.html">
							<div class="row m-0 w-100 innerDetails--img">
								<img class="img-fluid" src="images/wellness7.png" alt="wellness7">
								<span class="cat-star--rating"><i class="fa fa-star"></i> 4.2</span>
							</div>
							<div class="row m-0 w-100 innerDetails--content">
								<h6 class="text-uppercase">Wellness <span class="before-dot">Exercise</span></h6>
								<h5>Manhattan Motion Dance Studio</h5>
								<p>2726 Broadway, NYC, USA</p>
								<span class="mi-sec">0.4mi</span>
							</div>
							</a>
						</div>
						<div class="view-details--mainbtn w-100">
							<a class="d-flex align-items-center mb-5 justify-content-center" href="#">Load More</a>
						</div>
					</div>
				</div>


			</div>
		</div>

		<!--footer-section-->

