{% extends 'base.html' %}
{% load i18n %}
{#		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">#}
{#		<link rel="stylesheet" type="text/css" href="css/bootstrap-select.min.css">#}
{#		<link rel="stylesheet" type="text/css" href="css/cast.css">#}
{#		<link rel="stylesheet" type="text/css" href="css/slider.css" >#}
{#		<link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css">#}

{% block page %}


    <!--exceriseMain-->
    <div class="container-fluid recommendationsMain exceriseMain">
        <div class="row ml-0 mr-0 pl-3 w-100 heading-all--section headng-inner2sec align-items-center justify-content-space-between">
            <h5 class="mb-0">{{ category_title }} category_title of selected <span
                    class="sub-heading">{{ list_qs|length }} {% trans 'matched criteria' %}</span></h5>
            <ul class="mb-0 list-inline d-flex align-items-center justify-content-space-between">
                <li class="list-inline-item listtabSec">
                    <button class="bars"><i class="fa fa-bars" aria-hidden="true"></i></button>
                    <button class="windowSec active"><i class="fa fa-th-large" aria-hidden="true"></i></button>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="view--map">{% trans 'View On Map' %}</a>
                </li>
            </ul>
        </div>


        <div class="row m-0 w-100 rated-experinces--section align-items-center justify-content-space-between">

            <div class="infinite-container">

                {% for item in list_qs %}
                    <div class="infinite-item">
                        <div class="experince--innerDetails exceriseMain--innerDetails ">
                            <a href="choice.html">
                                <div class="row m-0 w-100 innerDetails--img">
                                    <img class="img-fluid" src="{{ item.additional_details.icon.url }}">
                                    <span class="cat-star--rating"><i
                                            class="fa fa-star"></i>{{ item.get_rating }}</span>
                                </div>
                                <div class="row m-0 w-100 innerDetails--content">
                                    <h6 class="text-uppercase">{{ item.industry_type.category }} <span
                                            class="before-dot">{{ item.industry_type.type }}</span></h6>
                                    <h5>{{ item.address.address_1 }}</h5>
                                    <p>{{ item.address.address_2 }}</p>
                                    <span class="mi-sec">{{ item.live_distance }}  </span>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}

            </div>

        </div>

        {#        {% include 'base/google-map.html' %}#}

        {% if is_paginated %}
            {% if page_obj.has_next %}
                <div class="view-details--mainbtn">
                    <a class="infinite-more-link d-flex align-items-center justify-content-center"
                       href="#">Load More</a>
                </div>
            {% endif %}
        {% endif %}

        <script>

            let link = "?page={{ page_obj.next_page_number }}";

            $('.infinite-more-link').click(() => {
                debugger;
                $.ajax({
                    url: "{% url 'business:grid_view' %}?page={{ page_obj.next_page_number }}",
                    method: 'GET',
                    success: (data, textStatus) => {
                        console.log(data);
                        debugger;
                        {#proceed = data.result;#}
                        {#console.log(proceed);#}
                        {#if (proceed === true) {#}
                        {#    nextPrev(1);#}
                        {# else#}
                        {#    }#}
                                {#    set_errors_by_ids(data.errors)#}
                                {#}#}
                                }
                            ,
                                error: (xhr, status, error_thrown) => {
                                    debugger;
                                    console.log(xhr);
                                    console.log(status);
                                    console.log(error_thrown);
                                }
                            }
                        )
                });

            {#var infinite = new Waypoint.Infinite({#}
            {#    element: $('.infinite-container')[0]#}
        </script>

    </div>


{% endblock %}
