{% load static i18n blank_forms %}
{#login form#}
<div class="modal login-modal" id="loginModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Log in</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <button class="btn login-with-btn">Login With Facebook</button>
                        <div class="dropdown-divider"><p class="divider-text">or</p></div>

                        <!-- login form -->

                        <form id="login-form" method="post" action="{% url 'user_account:login' %}">
                            {% csrf_token %}
                            <input type="email" class="form-control" placeholder="Enter Email or Phone Number" name="username" autofocus required id="id_username"/>
                            <input type="password" class="form-control" placeholder="Enter Password" name="password" required id="id_password"/>
                            <div class="row forgot-row">
                                <div class="col-sm-6 col-12">
                                    <label class="check-container">
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                        Remember Me
                                    </label>
                                </div>
                                <div class="col-sm-6 col-12 f-div">
                                    <a href="#">Forgot Password?</a>
                                </div>
                            </div>
                            <button class="btn btn-submit" id="login-bt" type="button">Login</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <p>Don't have an account? <a href="#" onclick="collapse_previous('.modal', '#signUpModal')">
                    Sign Up</a></p>
            </div>
        </div>
    </div>
</div>

{#testing signup form#}
<div class="modal login-modal email-signup" id="signUpForm">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <p class="signup-title"><span>ZipCodeIt</span> helps you live a smart life in your community</p>
            </div>
            <div class="modal-body">
                <form class="login-form" method="post" enctype="multipart/form-data" action="{% url 'user_account:signup' %}" id="signup-form">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12">
                            <input type="email" class="form-control" placeholder="Email" name="email" maxlength="254" autofocus required id="id_email"/>
                        </div>
                        <div class="col-12">
                            <input type="password" class="form-control" placeholder="Password" name="password1" required id="id_password1"/>
                        </div>
                        <div class="col-12">
                            <input type="password" class="form-control" placeholder="Repeat Password" name="password2" required id="id_password2"/>
                        </div>
                        <div class="col-sm-6 col-12">
                            <input type="text" class="form-control" placeholder="First Name" name="first_name" maxlength="30" required id="id_first_name"/>
                        </div>
                        <div class="col-sm-6 col-12">
                            <input type="text" class="form-control" placeholder="Last Name" name="last_name" maxlength="150" required id="id_last_name"/>
                        </div>
{#                        <div class="col-12">#}
{#                            <input type="text" class="form-control" placeholder="Date Of Birth"/>#}
{#                        </div>#}
{#                        <div class="col-sm-6 col-12 gender-div">#}
{#                            <p>Gender</p>#}
{#                            <label> <input name="gen" type="radio"/> <span>Male</span></label>#}
{#                            <label class="radio-container">#}
{#                                <input type="radio" name="radio">#}
{#                                <span class="checkmark"></span>#}
{#                                Male#}
{#                            </label>#}
{#                            <label class="radio-container">#}
{#                                <input type="radio" name="radio">#}
{#                                <span class="checkmark"></span>#}
{#                                Female#}
{#                            </label>#}
{#                        </div>#}
{#                        <div class="col-sm-6 col-12">#}
{#                            <p>Profile Picture</p>#}
{#                            <input type="file"/>#}
{#                        </div>#}
                        <button class="btn btn-submit" id="signup-bt">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{#signup form#}
<div class="modal login-modal" id="signUpModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Sign Up</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <button class="btn login-with-btn">
                            <img class="img-fluid" src="{% static 'images/facebook-icon.png' %}"/> Sign Up With Facebook
                        </button>
                        <button class="btn login-with-btn google-login-btn">
                            <img class="img-fluid" src="{% static 'images/google-icon.png' %}"/>Sign Up With Google
                        </button>
                        <div class="dropdown-divider"><p class="divider-text">or</p></div>
                        <button type="button" class="btn login-with-btn email-login-btn">
                            <img class="img-fluid" src="{% static 'images/email-icon.png' %}"/>Sign Up With Email
                        </button>
                        <div class="dropdown-divider"><p class="divider-text">or</p></div>
                        <button class="btn login-with-btn merchant-login-btn" >
                            <img class="img-fluid" src="{% static 'images/user-icon.png' %}"/>Sign Up as a Merchant
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <p>Already have an account? <a href="#">Login</a></p>
            </div>
        </div>
    </div>
</div>

{#business form#}

<div class="modal" id="addBusinessModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 text-center form-process-bar">
                        <span data-target="" class="step">Basic Info</span>
                        <span class="step active">Billing Info</span>
                        <span class="step">Customer Type</span>
                    </div>
                    <div class="col-12 business-form">
                        <form id="regForm" method="post">
                            <div class="tab" data-tab="1">
                                <h4>Enter Company Information</h4>
                                {% include 'old/merchant_forms/business_form_1.html' %}
                                <div class="col-12 text-center">
                                    <button class="btn btn-nxt btn-primary" type="button">Next</button>
                                </div>
                            </div>

                            <div class="tab" data-tab="2">
                                <h4>Enter Billing Information</h4>
                                {% include 'old/merchant_forms/payment_form.html' %}
                                <div class="col-12 text-center">
                                    <button class="btn btn-prev" type="button">Previous
                                    </button>
                                    <button class="btn btn-nxt btn-primary" type="button">Next
                                    </button>
                                </div>
                            </div>

                            <div class="tab" data-tab="3">
                                <h4>Enter Customer Type</h4>

                                {% include 'old/merchant_forms/costumer_type_additional_form.html' %}
                                <div class="col-12 text-center">
                                    <button class="btn btn-prev" type="button">Previous
                                    </button>
                                    <button class="btn btn-nxt btn-primary" type="button">Next
                                    </button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{#scripts#}

<script>
    {% get_form_fields as  form_fields %}
    $('.btn').click(function (event) {
        event.preventDefault();
        var target = $(this).data('target');
        // console.log('#'+target);
        $('#click-alert').html('data-target= ' + target).fadeIn(50).delay(3000).fadeOut(1000);

    });
    var currentTab = 0; // Current tab is set to be the first tab (0)
    showTab(currentTab); // Display the crurrent tab

    function showTab(n) {
        // This function will display the specified tab of the form...
        var x = document.getElementsByClassName("tab");
        x[n].style.display = "block";
        //... and fix the Previous/Next buttons:

        //... and run a function that will display the correct step indicator:
        fixStepIndicator(n)
    }


    function set_errors_by_ids(errors) {
        for (let er in errors) {
            try {
                document.getElementById('id_' + er + '_error').innerHTML = '-> ' + errors[er];
            } catch (e) {
            }
        }
    }


    function reset_errors_by_ids(fields) {
        console.log('fields are ' + fields);
        fields.forEach(field => {
            try {
                document.getElementById('id_' + field + '_error').innerHTML = null;

            } catch (e) {
                console.log('error at field id ' + 'id_' + field + '_error');
                console.log(e);
            }


        });
    }

    function send_ajax_req(url) {
        let form = $('#regForm');
        $.ajax({
                url: url,
                method: 'POST',
                data: form.serialize(),
                dataType: 'json',
                success: (data, textStatus) => {
                    proceed = data.result;
                    console.log(proceed);
                    if (proceed === true) {
                        nextPrev(1);
                    } else {
                        set_errors_by_ids(data.errors)
                    }
                },
                error: (xhr, status, error_thrown) => {
                    console.log(xhr);
                    console.log(status);
                    console.log(error_thrown);
                }
            }
        )

    }

    let fields = {{ form_fields|safe }};

    function moveNext() {
        let url;
        if (currentTab === 0) {
            url = {% url 'business:check_form_1' %};
        } else if (currentTab === 1) {
            url = {% url 'business:check_form_2' %};
        } else if (currentTab === 2) {
            url = {% url 'business:submit_form_3' %};
        }
        reset_errors_by_ids(fields);
        send_ajax_req(url);
    }


    function nextPrev(n) {
        // This function will figure out which tab to display
        var x = document.getElementsByClassName("tab");
        {
            if (n === 1) {
                document.getElementsByClassName("step")[currentTab].className += " finish";
            }
            if (n === -1) {
                document.getElementsByClassName("step")[currentTab].className = "step";
                document.getElementsByClassName("step")[currentTab - 1].className = "step active";
            }
            // Hide the current tab:
            x[currentTab].style.display = "none";
            // Increase or decrease the current tab by 1:
            currentTab = currentTab + n;

            // if you have reached the end of the form...
            if (currentTab >= x.length) {
                // ... the form gets submitted:
                document.getElementById("regForm").submit();
                return false;
            }
            // Otherwise, display the correct tab:
            showTab(currentTab);
        }
    }

    function fixStepIndicator(n) {
        // This function removes the "active" class of all steps...
        var i, x = document.getElementsByClassName("step");
        for (i = 0; i < x.length; i++) {
            x[i].className = x[i].className.replace(" active", "");
        }
        //... and adds the "active" class on the current step:
        x[n].className += " active";
    }

    $(document).ready(function () {
        $('.btn-nxt').click(function () {
            moveNext();
        })
        $('.btn-prev').click(function () {
            nextPrev(-1)
        })
    })
</script>
