{% load static i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}ZIPCODEIT{% endblock %}</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    {% include 'head_scripts.html' %}
    {% block head_bar_css %}

    {% endblock %}
</head>
<body>
<nav class="header-main--section w-100">
    <div class="container">
        <div class="row m-0 w-100 align-items-center justify-content-space-between">
            <div class="logo-left--main">
                <a href="{% url 'business:index' %}" class="d-inline-block">ZIPCODE<span class="it">IT</span></a>
            </div>
            <div class="header-right--details">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item mr-0">
                        <a href="{% url 'business:grid_view' %}" class="d-flex align-items-center justify-content-center">{% trans 'Grid View' %}</a>
                    </li>

                    <li class="list-inline-item mr-0">
                        <a class="d-flex align-items-center justify-content-center" data-toggle="modal"
                           data-target="#loginModal">{% trans 'Log In' %}</a>
                    </li>
                    <li class="list-inline-item mr-0">
                        <a class="d-flex align-items-center justify-content-center" data-toggle="modal"
                           data-target="#signUpForm">{% trans 'Sign up form' %}</a>
                    </li>
                    <li class="list-inline-item mr-0">
                        <a class="d-flex align-items-center justify-content-center" data-toggle="modal"
                           data-target="#signUpModal">{% trans 'Sign Up' %}</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="add-business--btn d-flex align-items-center justify-content-center"
                           data-toggle="modal" data-target="#addBusinessModal">{% trans 'Add Your Business' %}</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="saved--btn d-flex align-items-center justify-content-center" href="#">
                            <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                            {% trans 'Saved' %}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

{% block body %}
{% endblock %}
<div class="container-fluid footer--mainSection">
    <div class="container">
        <div class="row m-0 w-100 discover-mobileApp--section align-items-center justify-content-space-between">
            <img class="img-fluid mobile-appImg" src="{% static 'images/mobile-img.png' %}" alt="mobile-img">
            <h5 class="mb-0">Discover our mobile app</h5>
            <div class="mobile-appSection">
                <a class="d-inline-block mr-2" href="#">
                    <img class="img-fluid application" src="{% static 'images/app_store.png' %}" alt="app_store">
                </a>
                <a class="d-inline-block" href="#">
                    <img class="img-fluid application" src="{% static 'images/google_play.png' %}" alt="google_play">
                </a>
            </div>
        </div>

        <div class="row ml-0 mr-0 w-100 footer-second--details justify-content-space-between">
            <div class="footer-second--detsils">
                <h5 class="w-100">
                    <a href="#">
                        ZIPCODE<span class="it">IT</span>
                    </a>
                </h5>
                <div class="select-section">
                    <select class="select--formMain">
                        <option>English</option>
{#                        <option>English</option>#}
{#                        <option>English</option>#}
                    </select>
                </div>
            </div>

            {% for indus in industries %}
            <div class="footer-second--detsils">
                <h6>{{ indus }}</h6>
                <ul class="list-inline mb-0">
                {% for type in indus.industry_type.all %}
                    <li>
                        <a href="{% url 'business:grid_view' %}?industry_type={{ type.type }}">{{ type.type }}</a>
                    </li>
                {% endfor %}

                </ul>
            </div>
            {% endfor %}

            <div class="footer-second--detsils">
                <ul class="list-inline mb-0">
                    <li>
                        <button class="register--account">{% trans 'Register Business' %}</button> # set js
                    </li>
                    <li>
                        <button class="create--account">{% trans 'Create Account' %}</button> # set js
                    </li>
                </ul>
            </div>
        </div>

        <div class="row m-0 w-100 footer-last--details align-items-center justify-content-space-between">
            <p class="mb-0">Zipcodeit &copy; {% now "Y"  %} </p>

            <ul class="mb-0 list-inline">
                <li class="list-inline-item">
                    <a class="d-flex align-items-center justify-content-center" href="#" aria-label="facebook"
                       target="_blank" rel="noopener">
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="d-flex align-items-center justify-content-center" href="#" aria-label="twitter"
                       target="_blank" rel="noopener">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="d-flex align-items-center justify-content-center" href="#" aria-label="google-plus"
                       target="_blank" rel="noopener">
                        <i class="fa fa-google-plus"></i>
                    </a>
                </li>
                # set social links
            </ul>
        </div>

    </div>
</div>

{% include '_globalmodals.html' %}

<script src="{% static 'js/page-js.js' %}"></script>

{% block js %}
{% endblock %}
</body>
</html>