{% extends 'base.html' %}
{% load static i18n %}
{% block body %}
    <div class="container-fluid banner-pager--main">
        <div class="container">
            <div class="heading-form--main w-100">
                <h3>{% trans 'Live A Smarter Life In Your Community.' %}</h3>
                <form enctype="multipart/form-data" class="mb-0 ml-auto mr-auto">
                    {% csrf_token %}
                    <span class="location--icn d-flex align-items-center justify-content-center">
							<img class="img-fluid" src="{% static 'static/location.png' %}" alt="location">
						</span>
                    <input class="form-control" type="text" placeholder="Enter street address or zipcode"
                           id="id_input_location">
                    <button class="locate">{% trans 'Locate'  %}</button>
                </form>
                <a class="current--location d-flex align-items-center justify-content-center" href="#"
                   onclick="getLocation()">
                    <i class="fa fa-location-arrow" aria-hidden="true"></i>
                    {% trans 'Use Current location' %}
                </a>
            </div>
        </div>
    </div>
    <div class="container-fluid what-need--main">
        <div class="container">
            <div class="row ml-0 mr-0 w-100 heading-all--section">
                <h5 class="w-100 mb-0">{% trans 'What Do You Need?' %}</h5>
            </div>

            <div class="row ml-0 mr-0 w-100 feature--main align-items-center justify-content-space-between">

                {% for i in industries %}
                    <div class="feature-section--details d-flex align-items-center">
                        <a href="resources-grid.html">
                            <div class="feature-img">
                                {% with i.industry_type.last.icon.url as url %}
                                    <img class="img-fluid" src="{{ url }}" alt="health-wellness">
                                    </div>
                                {% endwith %}
                            <div class="feature-content">
                                <h6 class="w-100 mb-1">{{ i.category }}</h6>
                                <span class="d-inline-block">
									{% trans 'Explore' %}
									<i class="fa fa-angle-right" aria-hidden="true"></i>
								</span>
                            </div>
                        </a>
                    </div>

                {% endfor %}


            </div>
        </div>
    </div>

    <div class="container-fluid pl-0 pr-0 recommendationsMain">
        <div class="container p-0">
            {% if recommended %}
                <div class="row ml-0 mr-0 pl-3 w-100 heading-all--section">
                    <h5 class="w-100 mb-0">{% trans 'Recommendations' %}</h5>
                </div>
                <div class="featured-item w-100 recommendations--silderMain">

                    {% for recom in recommended %}
                        <div class="col-12">
                            <div class="row m-0 w-100 recommendations--innerDetails">
                                <a href="resources-grid.html">
                                    <img class="img-fluid" src="{{ recom.icon.url }}" alt="excersize">
                                    <div class="recommendation-imgupper--content">
                                        <h6 class="mb-0 w-100">{{ recom.type }}</h6>
                                        <p class="w-100 mb-0">{{ recom.category }}</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            {% endif %}
            <!--top-rated-experinces-->
            <div class="row ml-0 mr-0 pl-3 w-100 heading-all--section">
                <h5 class="w-100 mb-0">Top Rated Experience</h5>
            </div>
            <div class="row m-0 w-100 rated-experinces--section align-items-center justify-content-space-between">
                {% for obj in obj_list %}
                    <div class="experince--innerDetails">
                        <a href="{% url 'business:detail_view' obj.pk %}">
                            <div class="row m-0 w-100 innerDetails--img">
                                {% with obj.additional_details.icon.url as url %}
                                    <img class="img-fluid" src="{{ url }}">
                                {% endwith %}
                            </div>
                            <div class="row m-0 w-100 innerDetails--content">
                                <h6 class="text-uppercase">{{ obj.industry_type.category }} <span
                                        class="before-dot">{{ obj.industry_type.type }}</span></h6>
                                <h5>{{ obj.business_name }}</h5>
                                <p>{{ obj.additional_details.description }}</p>
{#                                {% include 'components/star_ratings.html' with rating=obj.get_rating %}#}
                            </div>
                        </a>
                    </div>
                {% endfor %}
                <div class="experince--innerDetails experince--innerDetailsGuide">
    <a href="#">
        <img class="img-fluid" src="{% static 'images/guid-hm.png' %}" alt="guid-hm">
        <div class="guide-detailsMain">
            <h6 class="text-uppercase">Guide</h6>
            <h5>Manhattan Motion Dance Studio</h5>
            <p class="mb-0 w-100 d-flex align-items-center justify-content-space-between">
                By John Doe | January 16, 2019
                <a href="#">
                    See All
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </a>
            </p>
        </div>
    </a>
</div>
            </div>
        </div>
    </div>


{% endblock %}