<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Social Login</title>
</head>
<body>

<button onclick="signup_form()">Signup form</button>
<button onclick="login_form()">Login form</button>

<form id="signup-form" method="post" action="" enctype="multipart/form-data" hidden >
    {% csrf_token %}
    {{ signup_form }}
    <input type="submit" value="submit">
</form>


<form id="login-form" method="post" action=""  hidden>
    {% csrf_token %}
    {{ login_form }}
    <input type="submit" value="submit">
</form>


<a href="{% url 'social:begin' 'google-oauth2' %}">Google Login</a>

<a href="{% url 'social:begin' 'facebook' %}">Facebook Login</a>


<script type="text/javascript">
    function signup_form() {
        var element = document.getElementById('signup-form');
        if (element.hidden===true){
        element.hidden = false;
        }
        else {
            element.hidden = true;
        }

    }

    function login_form() {
    var element = document.getElementById('login-form');
    if (element.hidden===true){
    element.hidden = false;
    }
    else {
        element.hidden = true;
    }

}

</script>

</body>
</html>