:root{
    --primary-color:#4c68ff;
    --dark-primary-color:#1229a5;
    --primary-text-color:#212529;
    --white-color:#ffffff;
    --secondary-text-color:#959595;
    --background-color:#f7f8fa;
    --star-color:#ffbf00;
    --border-color:#eee;
    --social-icn--color:#bbbbbb;
}
body { 
    font-family:'Poppins-Regular' !important;
    margin: 0px;
    padding: 0px;
    font-size: 14px !important;
}

/*--bold--*/
@font-face {
    font-family: Poppins-Bold;
    src: url('../font-family/Poppins-Bold.ttf');
}
/*--Light--*/
@font-face {
    font-family: Poppins-Light;
    src: url('../font-family/Poppins-Light.ttf');
}
/*--Medium--*/
@font-face {
    font-family: Poppins-Medium;
    src: url('../font-family/Poppins-Medium.ttf');
}
/*--Regular--*/
@font-face {
    font-family: Poppins-Regular;
    src: url('../font-family/Poppins-Regular.ttf');
}
/*--SemiBold--*/
@font-face {
    font-family: Poppins-SemiBold;
    src: url('../font-family/Poppins-SemiBold.ttf');
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block;}
a{background-color:transparent;}
a:active,
a:hover, button{outline:none !important;text-decoration: none !important;}

* {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box}
img { max-width: 100%;vertical-align: middle;display: inline-block}
a, button{transition: 0.4s ease all !important;cursor: pointer;}
p {margin-top: 0;margin-bottom: 10px}
.justify-content-space-between{justify-content: space-between;}
/*--header-css--*/

.header-main--section{
    position: fixed;
    top: 0;
    height: 68px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    z-index: 2;
    transition: 0.4s ease all;
}
.header-main--section.fixed-headerTop{
    background: var(--white-color);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
}
.header-main--section .row .logo-left--main a{
    font-size:23px;
    color: var(--white-color);
    font-family: Poppins-Medium;
}
.header-main--section.fixed-headerTop .row .logo-left--main a, .header-main--section.header-innerMain .row .logo-left--main a{
    color: var(--primary-text-color);
}
.header-main--section.fixed-headerTop .row .logo-left--main a .it, .header-main--section.header-innerMain .row .logo-left--main a .it{
    color: var(--primary-color);
}
.header-main--section .row .header-right--details ul li a{
    color: var(--white-color);
    font-size: 12px;
    font-family: Poppins-Light;
    padding: 8px 15px;
    border-radius: 4px;
    border: 1px solid transparent;
    letter-spacing: 0.3px;
}
.header-main--section.fixed-headerTop .row .header-right--details ul li a{
    color: var(--primary-color);
    font-family: Poppins-SemiBold;
}
.header-main--section .row .header-right--details ul li a:hover{
    background: rgba(0, 0, 0, 0.3);
    color: var(--white-color);
}
.fixed-headerTop.header-main--section .row .header-right--details ul li a:hover{
    background: var(--primary-color);
    color: var(--white-color);
    border-color: var(--primary-color);
}
.header-main--section .row .header-right--details .add-business--btn{
    border: 1px solid var(--white-color);
    font-family: Poppins-Regular;
}
.header-main--section.fixed-headerTop .row .header-right--details .add-business--btn{
    border-color: var(--primary-color);
}
.header-main--section .row .header-right--details .saved--btn{
    background: rgba(0,0,0,0.1);
}
.header-main--section .row .header-right--details .saved--btn i{
    padding-right: 5px;
}
/*--banner-page--*/

.container-fluid.banner-pager--main{
    background: url(../images/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 535px;  
}
.container-fluid.banner-pager--main .container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.banner-pager--main .heading-form--main{
    margin-top: 60px;
}
.banner-pager--main .heading-form--main h3{
    color: var(--white-color);
    font-family: Poppins-bold;
    font-size: 27px;
    margin-bottom: 30px;
    text-shadow: 0px 1px 0px #999;
}
.banner-pager--main .heading-form--main form, .location-serch--form form{
    position: relative;
    width: 55%;
    height: 55px;
    overflow: hidden;
}   
.banner-pager--main .heading-form--main .location--icn, .location-serch--form .location--icn{
    position: absolute;
    top: 0;
    left: 0;
    height: 55px;
    width: 45px;
}
.banner-pager--main .heading-form--main .location--icn img, .location-serch--form .location--icn img{
    height: 20px;
}
.banner-pager--main .heading-form--main .form-control, .location-serch--form .form-control{
    border: none;
    height: 55px;
    padding: 0 45px;
    font-size: 12px;
}
.banner-pager--main .heading-form--main .locate, .location-serch--form .locate{
    position: absolute;
    right: 15px;
    top: 7px;
    border: none;
    color: var(--white-color);
    background: var(--primary-color);
    width: 100px;
    height: 40px;
    border-radius: 4px;
}
.banner-pager--main .heading-form--main .locate:hover, .location-serch--form .locate:hover, 
.pharmacy-right--btn button:hover, .go--btnSection button:hover, .search-filterSec--right ul li button.apply-btn:hover{
    background:var(--dark-primary-color);
}
.heading-form--main .current--location{
    background: rgba(0,0,0,0.5);
    width: 16%;
    margin: 30px auto 0;
    color: var(--white-color);
    height: 32px;
    border-radius: 50px;
    font-size: 12px;
}
.heading-form--main .current--location i{
    margin-right:10px;
    font-size: 15px;
}

/*--what-you-need--*/

.container-fluid.what-need--main{
    padding: 60px 15px 0;
}
.row.heading-all--section{
    margin-bottom: 30px;
}
.heading-all--section h5{
    font-family: Poppins-SemiBold;
    font-size: 22px;
}
.row.feature--main{
    margin-bottom: 30px;
}
.feature--main .feature-section--details{
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    width: 32%;
    border-radius: 4px;
    transition: 0.4s ease all;
    cursor: pointer;
    background: var(--white-color);
}
.feature--main .feature-section--details:hover{
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
}
.feature-section--details a{
    display: flex;
    width: 100%;
    align-items: center;
}
.feature-section--details .feature-img{
    width:120px;
    overflow: hidden;
    border-radius: 4px;
}
.feature-section--details .feature-img img{
    transition: 0.4s ease all;
    transform: scale(1);
}
.feature--main .feature-section--details:hover .feature-img img{
    transform: scale(1.1);
}
.feature-section--details .feature-content{
    width:calc(100% - 120px);
    padding:15px;
}
.feature-section--details .feature-content h6{
    font-family: Poppins-Medium;
    font-size: 14px;
    color: var(--primary-text-color);
}
.feature-section--details .feature-content a{
    font-family: Poppins-Medium;
    font-size: 12px;
    color: var(--primary-color);
}
.row.feature--main.feature-item-collapse {
    width: 60%;
}
.row.feature--main.feature-item-collapse .feature-section--details .feature-img {
    width: 100px;
} 
.row.feature--main.feature-item-collapse a:hover .feature-section--details, 
.row.feature--main.feature-item-collapse a .feature-section--details.active{
    background: var(--primary-color);
} 
.row.feature--main.feature-item-collapse a{width: 32%;}
.row.feature--main.feature-item-collapse .feature-section--details{width: 100%;}
.row.feature--main.feature-item-collapse a:hover h6, 
.row.feature--main.feature-item-collapse .feature-section--details.active h6{
   color: var(--white-color);
} 
/*--recommendations--*/
.recommendationsMain{
    padding-bottom:60px;
}
.recommendations--silderMain{
    margin-bottom: 30px;
}
.row.recommendations--innerDetails{
    overflow: hidden;
    position: relative;
    border-radius: 4px;
    transition: 0.4s ease all;
    cursor: pointer;
}
.recommendations--innerDetails img{
    width: 100%;
    transform: scale(1);
    transition: 0.4s ease all;
}
.row.recommendations--innerDetails:hover img{transform: scale(1.1);}
.recommendation-imgupper--content{
    position: absolute;
    bottom: 0;
    color: var(--white-color);
    display: inline-block;
    width: 100%;
    left: 0px;
    padding: 15px;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.68));
    height: 70px;
    transition: 0.4s ease all;
}
.row.recommendations--innerDetails:hover .recommendation-imgupper--content{
    height: 80px;
}
.recommendation-imgupper--content h6{
    font-family: Poppins-SemiBold;
}
.recommendation-imgupper--content p{
    font-size: 12px;
    font-family: Poppins-Light;
}
.featured-item.owl-theme .owl-controls .owl-buttons div{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: var(--primary-text-color);
    background: var(--white-color);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    transition: 0.4s ease all;
}
.featured-item.owl-theme .owl-controls .owl-buttons div:hover{
    background: var(--primary-text-color);
    color: var(--white-color);
}
.featured-item.owl-theme .owl-controls .owl-buttons div.owl-prev {
    left: -5px;
}
.featured-item.owl-theme .owl-controls .owl-buttons div.owl-next {
    right: -5px;
}
.row.rated-experinces--section{
    padding: 0 15px;
}
.experince--innerDetails{
    width: 24%;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin-bottom: 15px;
    min-height: 328px;
    cursor: pointer;
    transition:0.4s ease all;
}
.experince--innerDetails:hover{
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2); 
}
.innerDetails--img{
    overflow: hidden;
}
.innerDetails--img img{
    transition: 0.4s ease all;
    transform: scale(1);
}
.experince--innerDetails:hover .innerDetails--img img{
    transform: scale(1.1);
}
.row.innerDetails--content{
    padding: 15px;
}
.innerDetails--content h6, .dr-content--details h6{
    margin-bottom: 5px;
    font-size: 12px;
    font-family: Poppins-medium;
    color: var(--primary-color);
}
.innerDetails--content h6 .before-dot, .dr-content--details h6 .dot-sec{
    padding-left:7px;
    position: relative;
}
.innerDetails--content h6 .before-dot:before, .dr-content--details h6 .dot-sec:before{
    content: "";
    position: absolute;
    top: 6px;
    left: 0;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: var(--primary-color);
}
.innerDetails--content h5{
    font-family: Poppins-SemiBold;
    font-size: 16px;
    margin-bottom: 5px;
    color: var(--primary-text-color);
}
.innerDetails--content p{
    margin-bottom: 5px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    color: var(--secondary-text-color);
    white-space: nowrap;
}
fieldset, label { margin: 0; padding: 0; }

/*-- Style Star Rating Widget--*/

.rating { 
  border: none;
  float: left;
}
.rating > input { display: none; } 
.rating > label:before { 
    margin: 0 5px 0 0;
    font-size: 14px;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}
.rating > .half:before { 
  content: "\f089";
  position: absolute;
}
.rating > label { 
    color: var(--star-color);
    float: right;
}
/*-- CSS Magic to Highlight Stars on Hover --*/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */
.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 
.experince--innerDetails.experince--innerDetailsGuide{
    width:48%;
    position: relative;
    overflow: hidden;
}
.experince--innerDetails.experince--innerDetailsGuide img{
    height: 328px;
    transition: 0.4s ease all;
    transform: scale(1);
}
.experince--innerDetails.experince--innerDetailsGuide:hover img{
    transform: scale(1.1);
}
.guide-detailsMain{
    position: absolute;
    bottom: 0;
    color: var(--white-color);
    display: inline-block;
    width: 100%;
    left: 0px;
    padding: 15px;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.68));
}
.guide-detailsMain h6{
    font-size: 12px;
    margin-bottom: 5px;
    color: var(--white-color);
}
.guide-detailsMain h5{
    font-family: Poppins-SemiBold;
    font-size: 16px;
    margin-bottom: 5px;
    color: var(--white-color);
}
.guide-detailsMain p{
    font-size: 12px;
    font-family: Poppins-Light;
    color: var(--white-color);
}
.guide-detailsMain p a{
    color: var(--white-color);
}

/*--fooeter--*/

.container-fluid.footer--mainSection{
    padding: 60px 0;
    background: var(--background-color);
}
.row.discover-mobileApp--section{
    background: var(--white-color);
    position: relative;
    border-radius: 4px;
    padding:10px 30px;
    overflow: hidden;
}
.row.discover-mobileApp--section:before{
    content: "";
    position: absolute;
    top: -135px;
    left: -135px;
    width: 0;
    height: 0;
    border: 130px solid;
    border-color: transparent var(--primary-color) transparent transparent;
    transform: rotate(45deg);
}
.discover-mobileApp--section .mobile-appImg{
    z-index: 1;
    position: relative;
    top: 11px;
    height: 85px;
}
.discover-mobileApp--section h5{
    font-family: Poppins-Semibold;
    font-size: 22px;
}
.discover-mobileApp--section .mobile-appSection .application{
    height: 45px;
}
.row.footer-second--details {
    padding: 45px 0;
}
.footer-second--detsils h5{
    font-size: 23px;
    font-family: Poppins-Medium; 
} 
.footer-second--detsils h5 a{
    color:var(--primary-text-color);
} 
.footer-second--detsils h5 a .it{
    color: var(--primary-color);  
} 
.footer-second--detsils .select-section .select--formMain{
    background: url(../images/down-arrow.png);
    background-position: 88% 50%;
    background-repeat: no-repeat;
    border: 1px solid #eee;
    border-radius: 4px;
    width: 85px;
    height: 34px;
    padding: 4px 10px;
    font-size: 12px;
    font-family: Poppins-Medium;
    color: var(--secondary-text-color);
    cursor: pointer;
    margin-top: 5px;
    position: relative;
    background-size: 12px;
}
.footer-second--detsils .select-section select.select--formMain{
    -webkit-appearance: none;
    -moz-appearance: none;
}
.footer-second--detsils h6{
    font-family: Poppins-Medium;
    font-size: 14px;
    margin-bottom: 10px;
}
.footer-second--detsils ul li a, .footer-last--details p{
    color: var(--secondary-text-color);
    font-size: 12px;
}
.footer-second--detsils ul li a:hover{
    color: var(--primary-color);
}
.footer-second--detsils ul li button{
    width: 125px;
    border: 2px solid var(--primary-color);
    background: transparent;
    color: var(--primary-color);
    font-size: 12px;
    border-radius: 4px;
    margin-bottom: 8px;
    height: 35px;
}
.footer-second--detsils ul li button:hover{
    background:var(--primary-color);
    color:var(--white-color);
}
.footer-second--detsils .create--account{
    background:var(--primary-color);
    color:var(--white-color);
}
.footer-second--detsils .create--account:hover{
    background: transparent;
    color: var(--primary-color);
}
.footer-last--details ul li a{
    border: 1px solid var(--social-icn--color);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: var(--social-icn--color);
}
.footer-last--details ul li a:hover{
    background: var(--primary-color);
    color: var(--white-color);
    border-color: var(--primary-color);
}


/*--inner-pager-details--*/
.navbar-header-Second-inner{
    position: fixed;
    top: 0;
    height: 136px;
    transition: 0.4s ease all;
    z-index: 2;
}
.navbar-header-Second-inner.fixed-headerSecond{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    height: 128px;
}
.navbar-header-Second-inner.fixed-headerSecond .header-main--section.header-innerMain{
    height:60px;
}
.header-main--section.header-innerMain{
    background: var(--white-color);
    border-bottom: 1px solid var(--border-color);
    padding: 0 30px;
    position: relative;
    transition: 0.4s ease all;
}
.header-main--section.header-innerMain .logo-left--innerSecond{
    border-right: 1px solid var(--border-color);
    padding-right: 25px;
    width: 11%;
}
.location-serch--form{
    width: 50%;
    border-right: 1px solid var(--border-color);
    padding: 0 15px;
}
.header-main--section.header-innerMain .header-right--details {
    width: 39%;
    padding: 0 0 0 85px;
}
.header-main--section.header-innerMain  .row .header-right--details ul li a{
    color: var(--primary-text-color);padding: 8px;
}
.header-main--section.header-innerMain .row .header-right--details ul li a:hover{
    color: var(--white-color);
    background: var(--primary-color);
    border-color:var(--primary-color);
}
.header-main--section.header-innerMain  .row .header-right--details .saved--btn i, 
.header-main--section.header-innerMain  .row .header-right--details ul li a.sinup-btn{color: var(--primary-color)}
.header-main--section.header-innerMain .row .header-right--details .add-business--btn{
    color: var(--primary-color);
    border-color: var(--primary-color);
}
.header-main--section.header-innerMain  .row .header-right--details ul li a:hover, 
.header-main--section.header-innerMain  .row .header-right--details .saved--btn:hover i{color: var(--white-color);}

/*--all-btn-subheader-css--*/
.all-subheader-btnSection{
    background: var(--white-color);
    height:68px;
    padding: 0 30px;
    position: relative;
    transition: 0.4s ease all;
}
.all-btn--categoriesLeft ul li.active button, .all-btn--categoriesLeft ul li button:hover{
    background: var(--primary-color);
    color: var(--white-color);
}
.all-btn--categoriesLeft ul li button{
    background: var(--background-color);
    border: none;
    font-family: Poppins-medium;
    border-radius: 4px;
    padding: 10px 25px;
    font-size: 12px;
    letter-spacing: 0.3px;
}
.all-btn--categoriesLeft ul .sub-menu{
    position: absolute;
    top: 100%;
    background:var(--background-color);
    z-index: 99;
    left: 0px;
    padding:30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 9px 0px;
}
.all-btn--categoriesLeft ul .dropdown-toggle::after, 
.search-filterSec--right ul li .dropdown-toggle:after{display: none;}
.search-filterSec--right ul li{
    color: var(--primary-color);
    font-size: 12px;
    font-family: Poppins-Medium;
}
.search-filterSec--right ul li button{
    background: transparent;
    border: 1px solid var(--border-color);
    color: var(--primary-text-color);
    font-size: 12px;
    font-family: Poppins-medium;
    border-radius: 4px;
    padding: 10px 15px;
}
.search-filterSec--right ul li .filter-btn, .search-filterSec--right ul li button:hover, .search-filterSec--right ul li .filter-btn.collapsed:hover{
    background: var(--primary-color);
    border-color:var(--primary-color);
    color:var(--white-color);
}
.search-filterSec--right ul li .filter-btn.collapsed{
    background: transparent;
    border: 1px solid var(--border-color);
    color: var(--primary-text-color);
}
.search-filterSec--right ul li .sub-menutype{
    position: absolute;
    width: 275px;
    background: var(--background-color);
    border-radius: 0;
    border: none;
    top: 100%;
    padding: 15px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    z-index:99;

}
.check-dom-dh input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.check-dom-dh {
    padding-left: 20px;
    cursor: pointer;
    font-size: 12px;
    position: relative;
    color: var(--primary-text-color);
    letter-spacing: 0.3px;
    background: var(--white-color);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1);
    padding: 15px 15px 15px 45px;
    border-radius: 4px;
    margin: 10px 0;
    width: 100%;
}
.checkmark {
    position: absolute;
    left: 15px;
    height: 18px;
    width: 18px;
    background-color: transparent;
    border: 1px solid var(--border-color);
    top: 14px;
    border-radius: 2px;
}
.check-dom-dh input:checked ~ .checkmark {background-color: var(--primary-color); border-color: var(--primary-color);}
.check-dom-dh .checkmark::after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 9px;
    border: solid var(--white-color);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    content: "";
    position: absolute;
    display: none;
}
.check-dom-dh input:checked ~ .checkmark:after {display: block;}
/*--exceriseMain--*/

.recommendationsMain.exceriseMain{
    padding: 45px 30px;
    background: var(--background-color);
    margin-top: 136px;
}
.experince--innerDetails.exceriseMain--innerDetails{
    width: 16%; min-height: 300px;
    box-shadow: none;
    transition: 0.3s ease;
}
.experince--innerDetails.exceriseMain--innerDetails:hover{
    background: var(--white-color);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
}
.exceriseMain--innerDetails .innerDetails--content{
    padding: 20px 10px;
    border: 1px solid var(--border-color);
}
.exceriseMain--innerDetails .innerDetails--content h5{
    font-size: 14px;
}
.exceriseMain--innerDetails .innerDetails--content .mi-sec{
    color: var(--primary-color);
    font-family: Poppins-SemiBold;
    font-size: 10px;
}
.exceriseMain--innerDetails .innerDetails--img{
    position: relative;
}
.exceriseMain--innerDetails .innerDetails--img img {
    height: 170px;
}
.exceriseMain--innerDetails .innerDetails--img .cat-star--rating{
    color: var(--primary-text-color);
    font-family: Poppins-SemiBold;
    font-size: 11px;
    background: var(--white-color);
    padding:3px 10px;
    position: absolute;
    top: 8px;
    right:8px;
    border-radius:1px;
}
.exceriseMain--innerDetails .innerDetails--img .cat-star--rating i{
    color: var(--star-color);
}
.view-details--mainbtn a{
    background: var(--white-color);
    color: var(--primary-color);
    font-family: Poppins-medium;
    font-size: 12px;
    width: 120px;
    margin:15px auto;
    height: 40px;
    border-radius: 4px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2)
}
.view-details--mainbtn a:hover{
    background: var(--primary-color);
    color: var(--white-color);
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
}
.footer--mainSection.footer-colorChange{
    background: var(--white-color);
    padding: 30px 0;
}
.headng-inner2sec ul li.listtabSec{
    background: var(--white-color);
    border: 1px solid var(--border-color);
    width:95px;
    height: 40px;
    border-radius: 4px;
    overflow: hidden;
}
.headng-inner2sec ul li button{
    background: transparent;
    border: none;
    height: 39px;
    font-size: 14px;
    color: var(--secondary-text-color);
    padding: 0px 18px;
    margin: 0 -2px 0 -3px;
}
.headng-inner2sec ul li .view--map{
    font-family: Poppins-SemiBold;
    color: var(--primary-text-color);
    font-size: 12px;
    background: var(--white-color);
    border-radius:4px;
    display: inline-block;
    padding: 11px 18px;
    transition: 0.3s ease;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
}
.headng-inner2sec ul li .view--map:hover{background: var(--primary-color);color: var(--white-color)}
.headng-inner2sec ul li button.active, .headng-inner2sec ul li button:hover{
    background: var(--primary-color);
    color: var(--white-color);
}
.headng-inner2sec h5 .sub-heading{
    color: var(--secondary-text-color);
    font-size: 12px;
    font-family: Poppins-medium;
    position: relative;
    top: -1px;
    left: 2px;
}

/*--map--*/
.recommendationsMain.exceriseMain.maplocation--fluid{
    padding:0 0 0 30px;
}
.row.rated-experinces--section.map-ranking--sec{
    overflow: auto;
    height:590px;
}.row.rated-experinces--section.map-ranking--sec::-webkit-scrollbar {
    display: none;
}
.row.rated-experinces--section.map-ranking--sec::-webkit-scrollbar-thumb   {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #aaa;
}
.experince--innerDetails.exceriseMain--innerDetails.map-section-list{
    width: 32%;
}

.row.map-locationMain iframe{height:690px;}

/*--choice--*/
.container-fluid.choice-banner--main{padding: 0;}
.carousel-cell {
    width: 63%;
    margin:0;
    border-radius: 5px;
    counter-increment: carousel-cell;
    opacity:1;
}
.carousel-cell.is-selected{
    border-right:2px solid var(--white-color);
    border-left:2px solid var(--white-color);
} 
.row.test--section img{
    height: 416px;
}

/*--pharmacy--*/

.container-fluid.pharmacy-details--fluid{
    padding:30px 15px;
}
.dr--img{
    width: 100px;
}
.dr--img img {
    height: 80px;
}
.dr-content--details{
    width:calc(100% - 100px);
}
.dr-content--details h5{
    font-family: Poppins-semibold;
    font-size: 22px;
    margin-bottom: 0;
    line-height: 34px;
}
.dr-content--details ul li.list-inline-item:not(:last-child){
    margin-right: 15px;
}
.dr-content--details ul li a, .dr-content--details ul li p{
    font-size: 12px;
    font-family: Poppins-semibold;
}
.dr-content--details ul li a{
    color: var(--social-icn--color);
    margin: 0 -2px;
}
.dr-content--details ul li a.active, .dr-content--details ul li p{
    color: var(--primary-color);
}
.dr-content--details .rating > label:before {
    font-size: 12px;
}
.dr-content--details ul li p{
    position: relative;
    top: 2px;
}
.pharmacy-right--btn button, .go--btnSection button, .search-filterSec--right ul li button.apply-btn{
    border: none;
    color: var(--white-color);
    background: var(--primary-color);
    width: 120px;
    height: 35px;
    border-radius: 4px;
    font-size: 12px;
}

/*--pharmacy-inner-details--*/
.testi_silder_inner{
    position: relative;
}
.save-share-btn{
    position: absolute;
    top: 15px;
    right: 30px;
    z-index: 9;
}
.save-share-btn button{
    color: var(--primary-text-color);
    font-family: Poppins-medium;
    background: var(--background-color);
    border: none;
    border-radius: 4px;
    padding: 8px 15px;
    font-size: 12px;
}
.save-share-btn button i{
    color: var(--primary-color);
    font-size: 14px;
    padding-right: 5px;
    position: relative;
    top: 1px;
    font-weight: 600;
    transition: 0.4s ease all;
}
.save-share-btn button:hover{
    background: var(--primary-color);
    color: var(--white-color);
}
.save-share-btn button:hover i{color: var(--white-color);}
.container-fluid.pharmacy-innerMain--fluid{
    background: var(--background-color);
    padding: 45px 15px;
    margin-top: 136px;
}
.row.contact-details--row{
    border-bottom: 1px solid var(--border-color);
    padding: 0 0 25px;
}
.contact-details--row .contact--details li span{
    font-size: 20px;
    font-family: Poppins-bold;
    color: var(--social-icn--color);
    padding-right: 2px;
    position: relative;
    top: 3px;
}
.contact-details--row .contact--details li a{
    color: var(--primary-text-color);
    font-family: Poppins-semibold;
    font-size: 12px;
}
.contact-details--row .social-details--s li a, .pharmacy-right--btn ul li a{
    background: var(--white-color);
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    width: 30px;
    height: 30px;
    color: var(--social-icn--color);
}
.contact-details--row .social-details--s li a:hover, .pharmacy-right--btn ul li a:hover{
    background: var(--primary-color);
    color: var(--white-color);
}
.row.descripation-tab--inner, .descripation-tab--inner .tab-content{
    padding-top: 30px;
}
.descripation-tab--inner .nav.nav-tabs{
    border: none;
}
.descripation-tab--inner .nav.nav-tabs .nav-item .nav-link{
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid transparent;
    color: var(--secondary-text-color);
    font-family: Poppins-medium;
    font-size: 12px;
    padding: 5px 15px;
}
.descripation-tab--inner .nav.nav-tabs .nav-item .nav-link.active, .descripation-tab--inner .nav.nav-tabs .nav-item .nav-link:hover{
    background: transparent;
    color: var(--primary-color);
    border-color: var(--primary-color);
}
.descripation-detailsMain h6,  .heading-link-singlepage h6{
    color: var(--primary-text-color);
    font-family: Poppins-semibold;
    font-size: 18px;
    margin-bottom: 15px;
}
.descripation-detailsMain p{
    color: var(--secondary-text-color);
    font-size: 12px;
}
.descripation-detailsMain ul{
    padding: 15px 0 0;
}
.descripation-detailsMain ul li{
    font-family: Poppins-medium; color: var(--secondary-text-color);
}
.descripation-detailsMain ul li button{
    width: 100px;
    border: 2px solid var(--primary-color);
    background: transparent;
    color: var(--primary-color);
    font-size: 12px;
    border-radius: 4px;
    margin-bottom: 8px;
    height: 35px;
}
.descripation-detailsMain ul li button.shop--nowbtn, .descripation-detailsMain ul li button.visit-store-btn:hover{
    background: var(--primary-color);
    color: var(--white-color);
}
.descripation-detailsMain ul li button.shop--nowbtn:hover{
    border: 2px solid var(--primary-color);
    background: transparent;
    color: var(--primary-color);
}
.discover-mobileApp--section.discover-mobileApp--sectionSecond{
    margin: 60px 0 15px;
}
.row.iframe-map-section iframe{
    height: 380px;
}
.map-location--text{
    background: var(--white-color);
    padding: 10px;
}
.text--app h6{
    font-size: 14px;
    color: var(--primary-text-color);
    font-family: Poppins-medium;
    margin-bottom:5px;
}
.text--app p{
    font-family: Poppins-medium;
    font-size: 10px;
    color: var(--primary-color);
}
.direction {
    font-family: Poppins-medium;
    font-size: 12px;
    color: var(--primary-color);
}

/*s--single--*/

.pharmacy-innerMain--fluid.pharmacy-innerMain--fluidsingle{
    padding:0 0 45px 30px;
}
.row.row3{
    padding:30px 0 15px;
}
.social-icn--contact-details{
    width:60%;
}
.pharmacy-right--btn.get-directionbtn button{
    width: 120px;
}
.row.contact--row{border:none;}
.row.location-searc--formMain{
    background: var(--white-color);
    padding: 30px 45px;
    border-radius: 4px;
    box-shadow: 0 0px 4px 0 rgba(0,0,0,0.1);
    margin: 0 0 30px;
}
.row.location-searc--formMain form .form-group{
    position: relative;
    margin-bottom: 20px;
}
.row.location-searc--formMain form span{
    position: absolute;
    top: 12px;
    left: -20px;
}
.row.location-searc--formMain form span.current-location:before{
    content: "";
    position: absolute;
    top: 13px;
    left: 4px;
    width: 0;
    height: 47px;
    border: 1px dotted;
    border-color: var(--primary-color);
}
.row.location-searc--formMain form span img{
    height: 13px;
}
.row.location-searc--formMain form input{
    border-radius: 0;
    border: none;
    border-bottom: 1px solid var(--border-color);
    color: var(--secondary-text-color);
    font-size: 12px;
    font-family: Poppins-medium;
    box-shadow: none;
    padding: 0;
    height: 40px;
}
.go--btnSection button, .search-filterSec--right ul li button.apply-btn{
    width: 70px;
    height: 35px;
    font-size: 14px;
    letter-spacing: 0.5px;
}
.row.heading-link-singlepage{
    margin: 30px 0 15px;
}
.heading-link-singlepage a{
    color: var(--primary-color);
    font-size: 12px;
    font-family: Poppins-medium;
}
.row.photo-gallery--slider{margin-bottom: 30px;}
.row.photo-gallery--slider .row.test--section img{
    height:200px;
}
.row.photo-gallery--slider .flickity-button{
    width: 35px;
    height: 35px;
}
.row.photo-gallery--slider .flickity-prev-next-button .flickity-button-icon{
    left: 30%;
    top: 30%;
    width: 40%;
    height: 40%;
}
.row.photo-gallery--slider .flickity-prev-next-button.previous{
    left: -20px;
}
.row.photo-gallery--slider .flickity-prev-next-button.next{
    right: -20px;
}
.heading-link-singlepage ul li{
    color: var(--primary-text-color);
    font-size: 11px;
    font-family: Poppins-medium;
}
.heading-link-singlepage ul li button{
    color: var(--primary-text-color);
    font-size: 12px;
    background: var(--white-color);
    border-radius: 4px;
    border: none;
    padding: 5px 15px;
}
.heading-link-singlepage ul li button i{
    color: var(--star-color);
}

.row.reviews--detailsInner{
    margin-bottom: 30px;
}
.reviews--detailsInner .reviews--Sec{
    padding: 30px 0px 0;
}
.user-imgReview{
    overflow: hidden;
}
.user-imgReview img, .user-imgReview{
    width:40px;
    height:40px;
    border-radius: 50%;
}
.user-detailsReviews{
    width: calc(100% - 40px);
    padding: 0px 15px;
}
.user-detailsReviews h6{
    font-size: 14px;
    font-family: Poppins-medium;
    color: var(--primary-text-color);
    margin-bottom: 5px;
}
.user-detailsReviews h6 .review--date{
    font-family: Poppins-regular;
    font-size: 11px;
    padding-left: 5px;
}
.user-detailsReviews p{
    color: var(--secondary-text-color);
    font-size: 11px;
}
.reviews--Sec a, .additional--infoInner p{
    color: var(--primary-color);
    font-size: 12px;
    font-family: Poppins-medium;
}
.row.additional--info--main{
    margin-bottom: 30px;
}
.additional--infoInner{
width: 33%;     padding-right:30px;
}
.additional--infoInner p{
    margin-bottom: 5px;
}
.openning-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 2px;
}
.openning-details .timing{
    font-size: 11px;
    color: var(--secondary-text-color);
}
.recommendationsMain.exceriseMain.bg-white{
    background: var(--white-color);
    border-bottom: 1px solid var(--border-color);
}
.search-filterSec--right ul li button.apply-btn{
    height: 40px;
    width: 80px;
}

/*--popup-css--*/

.login-with-btn {
    background: #4568b2;
    border: 1.5px solid #4568b2;
    width: 100%;
    margin: 10px 0;
    color: var(--white-color) !important;
    transition: 0.3s ease;
}

.login-with-btn.google-login-btn {
    background:var(--white-color);
    border: 1.5px solid #666666;
    width: 100%;
    color: #666666 !important;
    transition: 0.3s ease;
}

.login-with-btn.email-login-btn {
    background: var(--primary-color);
    border: 1.5px solid var(--primary-color);
}

.login-with-btn.merchant-login-btn {
    background: #ffffff;
    border: 1.5px solid var(--primary-color);
    color: #666666 !important;
}

.login-with-btn:hover {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
}

.login-with-btn img {
    height: 15px;
    margin-right: 10px;
}

.login-modal .modal-header .modal-title {
    text-align: center;
    font-weight: bold;
    width: 100%;
    text-transform: capitalize;
}

.login-modal .dropdown-divider {
    height: auto;
    position: relative;
    overflow: visible;
    margin: 30px 0;
}

.login-modal .dropdown-divider .divider-text {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    top: -15px;
    width: 30px;
    background: #fff;
    height: 30px;
    border-radius: 50%;
    color: #aaa;
}

.btn-submit {
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    width: 100%;
    color: #ffffff;
    transition: 0.3s ease;
}

.btn-submit:hover {
    background: #ffffff;
    color: var(--primary-color);
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
}

.login-form {
    margin: 0;
    font-size: 14px;
}

.login-form input, .login-form select {
    margin-bottom: 20px;
}

.f-div {
    text-align: right;
}

.forgot-row label {
    font-size: 14px;
    cursor: pointer;
    color: #878787;
}

.forgot-row a {
    font-size: 14px;
}

.login-modal .modal-footer p {
    width: 100%;
    text-align: center;
    color: #878787;
    margin: 0;
    font-size: 14px;
}

.login-modal .modal-dialog {
    max-width: 450px;
}

.login-modal .modal-content {
    padding: 0 15px;
}

.login-modal .modal-header {
    padding: 10px;
}

::placeholder {
    color: #878787 !important;
    font-size: 14px;
    font-weight: 400;
}

/*--Step Form--*/
.tab {
    display: none;
}

.btn.btn-prev {
    background-color: #eeeeee;
    border: 1px solid #f7f8fa;
    font-size: 13px;
    padding: 7px 40px;
    color: #333333 !important;
    text-transform: uppercase;
    transition: 0.3s ease;
}

.btn.btn-nxt {
    background-color: var(--primary-color);
    font-size: 13px;
    color: #ffffff !important;
    padding: 7px 40px;
    text-transform: uppercase;
    transition: 0.3s ease;
}

.btn-nxt.btn.focus, .btn-nxt.btn:focus {
    box-shadow: none;
}

.btn-prev:hover {
    background: #dddddd;
    border-color: #dddddd;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
}

.btn-nxt:hover, .btn-nxt.btn:focus:hover {
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.2);
}

.step {
    position: relative;
    font-size: 12px;
    margin: 0 32px 0 20px;
    display: inline-block;
    padding: 0 7px;
}
.step:last-child{
    margin: 0 20px 0 20px;
}

.step:before {
    content: '';
    position: absolute;
    right: 100%;
    top: -2px;
    height: 20px;
    width: 20px;
    margin: 0 2px;
    background-color: var(--secondary-text-color);
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step:after {
    content: '';
    position: absolute;
    top: 9px;
    left: -58px;
    height: 1px;
    width: 34px;
    background: var(--border-color);
}

.step:first-child:after {
    display: none;
}

.step.active:before {
    opacity: 1;
    background: var(--primary-color);
}

.step.finish:before, .step.finish:after {
    background-color: #00b200;
}
.step.finish:before{
    content: "\f00c";
    font-family: FontAwesome;
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}
.step.active:after {
    background: var(--primary-color);
}

/*--//Step Form--*/
.business-form h4 {
    font-size: 20px;
    margin: 20px 0;
    text-align: center;
}

.business-form input, .business-form select {
    margin: 8px 0;
    height: 35px;
    font-size: 13px;
    color: #878787;
}

.dark-bg {
    background: #f7f8fa;
    padding: 0 0 20px;
    margin-bottom: 20px;
}

.sameAs-label.check-container{
    font-size: 14px;
    margin-top: 15px;
    cursor: pointer;
}

.gender-div {
    margin: 5px 0;
}

.gender-div label {
    margin-right: 25px;
    cursor: pointer;
}

.gender-div span {
    display: inline-block;
    font-size: 14px;
}

.gender-div input[type=radio] {
    height: auto;
}

.gender-div p {
    margin: 0;
}

.email-signup .gender-div p {
    margin-bottom: 15px;
}

input[type=radio], input[type=checkbox] {
    height: auto;
}

.signup-title {
    font-weight: 600;
    text-align: center;
    width: 100%;
    margin: 10px 0;
}

.signup-title span {
    color: var(--primary-color);
}
.form-process-bar{
    padding: 15px 0 10px;
}

.check-container {
  display: block;
    position: relative;
    padding-left: 27px;
    margin-bottom: 20px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.check-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

.check-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.check-container input:checked ~ .checkmark {
  background-color: var(--primary-color);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.check-container input:checked ~ .checkmark:after {
  display: block;
}

.check-container .checkmark:after {
  left: 5px;
  top: 1px;
  width: 7px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.check-container .checkmark:after {
    left: 6px;
    top: 1px;
    width: 6px;
    height: 13px;
    border: solid white;
    border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.radio-container {
    display: inline-block;
    position: relative;
    padding-left: 26px;
    margin-bottom: 15px;
    margin-top: 8px;
    cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio-container .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 19px;
    width: 19px;
    background-color: #eee;
    border-radius: 50%;
}

.radio-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.radio-container input:checked ~ .checkmark {
  background-color: var(--primary-color);
}


.radio-container input:checked ~ .checkmark:after {
  display: block;
}

.radio-container .checkmark:after {
 	top: 2px;
    left: 2px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: var(--primary-color);
    border: 2px solid #fff;
}
.dropdown-menu.open.show .dropdown-menu.inner{
    display: block;
}
.bootstrap-select.btn-group .btn .filter-option {
    display: inline-block;
    overflow: hidden;
    width: auto;
    text-align: left;
    font-size: 14px;
    color: #878787;
}
.btn-group.bootstrap-select button.selectpicker{
    border: 1px solid #dddddd;
    height: 35px;
    margin-top: 8px;
    outline: none !important;
}
.bootstrap-select.btn-group .dropdown-menu{
    padding: 0;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    background-color: #fff;
    margin: 0;
    will-change: width,height;
}
.bootstrap-select.btn-group .dropdown-menu li a{
    width: 100%;
    display: inline-block;
    font-size: .9rem;
    color: #878787;
    border-bottom: 1px solid #eee;
    padding: .5rem;
    transition: 0.3s ease;
}
.bootstrap-select.btn-group .dropdown-menu li a:hover{
   background: #f1f1f1;
}
.bootstrap-select.btn-group .dropdown-menu li.selected a{
   background: #eee;
}
.bootstrap-select button,.bootstrap-select a{
    box-shadow: none !important;
    outline: none !important;
}
.dropdown-toggle::after {
    content: "\f107";
    font-family: FontAwesome;
    position: absolute;
    right: 15px;
    top: 0;
    border: none;
    bottom: 0;
    margin: auto;
    font-size: 23px;
    color: #aaaaaa;
}
/*---------RESPONSIVE----------*/

@media (min-width: 320px) and (max-width: 767px){
    .header-main--section {
        height: auto;
    }
    .header-main--section .row .header-right--details ul li a {
        padding: 4px 6px !important;
    }
    .logo-left--main{
        width: 100%;
        display: inline-block;
        text-align: center;
        padding: 5px;
    }
    .header-right--details{
        margin-bottom: 10px;
    }
    .header-right--details ul li{
        margin: 0 !important;
    }
    .banner-pager--main .heading-form--main h3 {
        font-size: 20px;
    }
    .banner-pager--main .heading-form--main form, .location-serch--form form {
        width: 100%;
    }
    .banner-pager--main .container{
        padding: 0;
    }
    .banner-pager--main .heading-form--main .locate, .location-serch--form .locate {
        right: 5px;
        top: 5px;
        width: 65px;
        height: 30px;
    }
    .heading-all--section h5 {
        font-size: 18px;
        margin-bottom: 18px !important;
    }
    .feature--main .feature-section--details {
        width: 100%;
        margin-bottom: 20px;
    }
    .row.recommendations--innerDetails a,.experince--innerDetails, .experince--innerDetails a{
        display: inline-block;
        width: 100%;
    }
    .innerDetails--img img{
        width: 100%;
    }
    .header-main--section.header-innerMain {
        padding: 0 10px;
        position: relative;
    }
    .header-main--section.header-innerMain > .row {
        display: inline-block !important;
    }
    .header-main--section.header-innerMain .logo-left--innerSecond {
        width: 100%;
        height: auto !important;
        border: none;
    }
    .header-main--section.header-innerMain .location-serch--form{
        height: auto !important;
        width: 100%;
        padding: 0;
        border: none;
    }
    .header-main--section.header-innerMain .header-right--details{
        width:100%;
        padding: 0;
    }
    .container-fluid.all-subheader-btnSection {
        height: auto;
        padding: 0 10px;
    }
    .all-subheader-btnSection > .row{
        height: auto !important;
    }
    .all-btn--categoriesLeft ul li{
        margin: 0 !important;
    }
    .all-btn--categoriesLeft ul li button {
        padding: 6px 10px;
        font-size: 11px;
        letter-spacing: 0.1px;
        margin-bottom: 0;
    }
    .search-filterSec--right ul li button {
        font-size: 11px;
        padding: 4px 10px;
    }
    .experince--innerDetails.exceriseMain--innerDetails {
        width: 100%;
        min-height: 300px;
    }
    .all-btn--categoriesLeft{
        padding: 15px 0;
    }
    .search-filterSec--right{
        margin-bottom: 10px;
    }
    .contact-details--row .social-icn--contact-details{
        display: inline-block !important;
        width: 100% !important;
    }
    .contact--details{
        width: 100%;
        margin: 10px 0;
    }
    .social-icn--contact-details .social-details--s{
        margin: 10px 0 20px  !important;
    }
    .additional--infoInner {
        width: 100%;
        padding-right: 0;
        margin: 10px 0;
    }
    .map-location--Inner{
        padding: 0 !important;
    }
    .row.iframe-map-section iframe{
        border: 0;
        width: 322px !important;
        height: 200px;
        margin-top: 20px;
    }
    .pharmacy-innerMain--fluid.pharmacy-innerMain--fluidsingle {
        padding: 0 10px 45px 10px;
    }
    .location-serch--form .form-control {
        height: 40px;
        padding: 0 38px;
        font-size: 12px;
        border: 1px solid #eee;
    }
    .row.row3 {
        padding: 10px 0 4px;
    }
    .banner-pager--main .heading-form--main form, .location-serch--form form {
        width: 55%;
        height: auto;
        overflow: hidden;
        margin-bottom: 10px !important;
    }
    .banner-pager--main .heading-form--main .location--icn, .location-serch--form .location--icn {
        height: 100%;
    }
}
@media (min-width: 320px) and (max-width: 767px) and (orientation: landscape){}
@media (min-width: 768px) and (max-width: 1200px){}
@media (min-width: 768px) and (max-width: 1200px) and (orientation: landscape){}