/*! Flickity v2.1.2
https://flickity.metafizzy.co
---------------------------------------------- */

.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus { outline: none; }

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draggable */

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
          tap-highlight-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}
.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {cursor: -webkit-grabbing;cursor: grabbing;}

/* ---- flickity-button ---- */
.flickity-button {
  position: absolute;
  background:var(--white-color);
  border: none;
  top: 50%;
  width: 40px;
  border: 0;
  height: 40px;
  border-radius: 50%;
  transform: translateY(-50%);
  color: var(--primary-text-color);
}
.flickity-button:hover { background:var(--primary-color);cursor: pointer;}
.flickity-button:focus {outline: none;}
.flickity-button:active {opacity: 1;}
.flickity-button:disabled {
  opacity: 0.3;
  cursor: auto;
  pointer-events: none;
}
.flickity-button-icon {fill: var(--primary-text-color);transition: 0.4s ease all;}
.flickity-button:hover .flickity-button-icon{
  fill: var(--white-color);
}
/* ---- previous/next buttons ---- */


.flickity-prev-next-button.previous {left:17%;}
.flickity-prev-next-button.next {right:17%;}
/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px;
}
.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px;
}

.flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  left: 27%;
  top: 27%;
  width: 45%;
  height: 45%;
}

/* ---- page dots ---- */

.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}

.flickity-rtl .flickity-page-dots { direction: rtl; }

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #0c96c9;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer;
  display: none;
}

.flickity-page-dots .dot.is-selected {
  opacity: 1;
}