{% load  static i18n %}
<div class="experince--innerDetails experince--innerDetailsGuide">
    <a href="#">
        <img class="img-fluid" src="{% static 'images/guid-hm.png' %}" alt="guid-hm">
        <div class="guide-detailsMain">
            <h6 class="text-uppercase">Guide</h6>
            <h5>Manhattan Motion Dance Studio</h5>
            <p class="mb-0 w-100 d-flex align-items-center justify-content-space-between">
                By John Doe | January 16, 2019
                <a href="#">
                    See All
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </a>
            </p>
        </div>
    </a>
</div>
