{% load  static i18n %}

{% if recommended %}
    <div class="row ml-0 mr-0 pl-3 w-100 heading-all--section">
        <h5 class="w-100 mb-0">{% trans 'Recommendations' %}</h5>
    </div>
    <div class="featured-item w-100 recommendations--silderMain">

        {% for recom in recommended %}
            <div class="col-12">
                <div class="row m-0 w-100 recommendations--innerDetails">
                    <a href="resources-grid.html">
                        <img class="img-fluid" src="{{ recom.icon.url }}" alt="excersize">
                        <div class="recommendation-imgupper--content">
                            <h6 class="mb-0 w-100">{{ recom.type }}</h6>
                            <p class="w-100 mb-0">{{ recom.category }}</p>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}

    </div>
{% endif %}
