{% load static i18n %}

    <div class="container-fluid what-need--main">
        <div class="container">
            <div class="row ml-0 mr-0 w-100 heading-all--section">
                <h5 class="w-100 mb-0">{% trans 'What Do You Need?' %}</h5>
            </div>

            <div class="row ml-0 mr-0 w-100 feature--main align-items-center justify-content-space-between">

                {% for i in industries %}
                    <div class="feature-section--details d-flex align-items-center">
                        <a href="resources-grid.html">
                            <div class="feature-img">
                                {% with i.industry_type.last.icon.url as url %}
                                    <img class="img-fluid" src="{{ url }}" alt="health-wellness">
                                    </div>
                                {% endwith %}
                            <div class="feature-content">
                                <h6 class="w-100 mb-1">{{ i.category }}</h6>
                                <span class="d-inline-block">
									{% trans 'Explore' %}
									<i class="fa fa-angle-right" aria-hidden="true"></i>
								</span>
                            </div>
                        </a>
                    </div>

                {% endfor %}


            </div>
        </div>
    </div>
