<div class="star-icon--section w-100{{ class }}">

    <fieldset class="rating">
{% if rating > 4.5 %}
        <input type="radio" id="star5" name="rating" value="5"/>
        <label class="full mb-0" for="star5" title="Awesome - 5 stars"></label>
        <label class="full mb-0" for="star5" title="Awesome - 5 stars"></label>
        <label class="full mb-0" for="star5" title="Awesome - 5 stars"></label>
        <label class="full mb-0" for="star5" title="Awesome - 5 stars"></label>
        <label class="full mb-0" for="star5" title="Awesome - 5 stars"></label>
{% elif rating > 4 %}
        <input type="radio" id="star4half" name="rating" value="4 and a half"/>
        <label class="full mb-0" for="star4half" title="Pretty good - 4.5 stars"></label>
        <label class="full mb-0" for="star4half" title="Pretty good - 4.5 stars"></label>
        <label class="full mb-0" for="star4half" title="Pretty good - 4.5 stars"></label>
        <label class="full mb-0" for="star4half" title="Pretty good - 4.5 stars"></label>
        <label class="half mb-0" for="star4half" title="Pretty good - 4.5 stars"></label>
{% elif rating > 3.5 %}
        <input type="radio" id="star4" name="rating" value="4"/>
        <label class="full mb-0" for="star4" title="Pretty good - 4 stars"></label>
        <label class="full mb-0" for="star4" title="Pretty good - 4 stars"></label>
        <label class="full mb-0" for="star4" title="Pretty good - 4 stars"></label>
        <label class="full mb-0" for="star4" title="Pretty good - 4 stars"></label>
{% elif rating > 3 %}
        <input type="radio" id="star3half" name="rating" value="3 and a half"/>
        <label class="full mb-0" for="star3half" title="Meh - 3.5 stars"></label>
        <label class="full mb-0" for="star3half" title="Meh - 3.5 stars"></label>
        <label class="full mb-0" for="star3half" title="Meh - 3.5 stars"></label>
        <label class="half mb-0" for="star3half" title="Meh - 3.5 stars"></label>
{% elif rating > 2.5 %}
        <input type="radio" id="star3" name="rating" value="3"/>
        <label class="full mb-0" for="star3" title="Meh - 3 stars"></label>
        <label class="full mb-0" for="star3" title="Meh - 3 stars"></label>
        <label class="full mb-0" for="star3" title="Meh - 3 stars"></label>
{% elif rating > 2 %}
        <input type="radio" id="star2half" name="rating" value="2 and a half"/>
        <label class="full mb-0" for="star2half" title="Kinda bad - 2.5 stars"></label>
        <label class="full mb-0" for="star2half" title="Kinda bad - 2.5 stars"></label>
        <label class="half mb-0" for="star2half" title="Kinda bad - 2.5 stars"></label>
{% elif rating > 1.5 %}
        <input type="radio" id="star2" name="rating" value="2"/>
        <label class="full mb-0" for="star2" title="Kinda bad - 2 stars"></label>
        <label class="full mb-0" for="star2" title="Kinda bad - 2 stars"></label>
{% elif rating > 1 %}
        <input type="radio" id="star1half" name="rating" value="1 and a half"/>
        <label class="full mb-0" for="star1half" title="Meh - 1.5 stars"></label>
        <label class="half mb-0" for="star1half" title="Meh - 1.5 stars"></label>
{% elif rating > .5 %}
        <input type="radio" id="star1" name="rating" value="1"/>
        <label class="full mb-0" for="star1" title="Sucks big time - 1 star"></label>
{% else %}
        <input type="radio" id="starhalf" name="rating" value="half"/>
        <label class="half mb-0" for="starhalf" title="Sucks big time - 0.5 stars"></label>
{% endif %}
    </fieldset>
</div>
