<div class="col-12">
    <input type="text" class="form-control" placeholder="Address 1"
           name="address_1{{ second }}"/>
    <p class="error" id="id_address_1{{ second }}_error"></p>

</div>
<div class="col-12">
    <input type="text" class="form-control" placeholder="Address 2"
           name="address_2{{ second }}"/>
    <p class="error" id="id_address_2{{ second }}_error"></p>

</div>
<div class="col-sm-3 col-12">
    <input type="text" class="form-control" placeholder="State" name="state{{ second }}"/>
    <p class="error" id="id_state{{ second }}_error"></p>

</div>
<div class="col-sm-3 col-12">
    <input type="text" class="form-control" placeholder="City" name="city{{ second }}"/>
    <p class="error" id="id_city{{ second }}_error"></p>

</div>
<div class="col-sm-3 col-12">
    <input type="text" class="form-control" placeholder="Zip Code" name="zipcode{{ second }}"/>
    <p class="error" id="id_zipcode{{ second }}_error"></p>

</div>
<div class="col-sm-3 col-12">
    <input type="text" class="form-control" placeholder="Contact" name="contact{{ second }}"/>
    <p class="error" id="id_contact{{ second }}_error"></p>

</div>
