{% load blank_forms js_form %}

{#    {% get_business_form as business_form %}#}
{#    {% get_address_form as address_form %}#}
{#    {% get_payment_form as payment_form %}#}
{% get_form_fields as form_fields %}
{#{% get_blank_form %}#}


<div class="modal" id="addBusinessModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 text-center form-process-bar">
                        <span data-target="" class="step">Basic Info</span>
                        <span class="step active">Billing Info</span>
                        <span class="step">Customer Type</span>
                    </div>
                    <div class="col-12 business-form">
                        <form id="regForm" method="post">
                            <div class="tab" data-tab="1">
                                <h4>Enter Company Information</h4>
                                {% include 'merchant_forms/business_form_1.html' %}
                                <div class="col-12 text-center">
                                    <button class="btn btn-nxt btn-primary" type="button">Next</button>
                                </div>
                            </div>

                            <div class="tab" data-tab="2">
                                <h4>Enter Billing Information</h4>
                                {% include 'merchant_forms/payment_form.html' %}
                                <div class="col-12 text-center">
                                    <button class="btn btn-prev" type="button">Previous
                                    </button>
                                    <button class="btn btn-nxt btn-primary" type="button">Next
                                    </button>
                                </div>
                            </div>

                            <div class="tab" data-tab="3">
                                <h4>Enter Customer Type</h4>

                                {% include 'merchant_forms/costumer_type_additional_form.html' %}
                                <div class="col-12 text-center">
                                    <button class="btn btn-prev" type="button">Previous
                                    </button>
                                    <button class="btn btn-nxt btn-primary" type="button">Next
                                    </button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

