<div class="row">
    <div class="col-12">
        <input type="text" class="form-control" placeholder="Demography" name="demography"/>
        <p class="error" id="id_demography_error"></p>

    </div>
    <div class="col-sm-6 col-12">
        <select class="selectpicker" name="age_range">
            <option>Age Range</option>
            <option>Demo</option>
            <option>Lorem Ipsum</option>
            <option>Dolar Amet</option>
        </select>
        <p class="error" id="id_age_range_error"></p>

    </div>
    <div class="col-sm-6 col-12">
        <select class="selectpicker" name="income_range">
            <option>Income Range</option>
            <option>Demo</option>
            <option>Lorem Ipsum</option>
            <option>Dolar Amet</option>
        </select>
        <p class="error" id="id_income_range_error"></p>

    </div>
    <div class="col-sm-6 col-12">
        <input type="text" class="form-control" placeholder="Category Trending To"
               name="category_treading"/>
        <p class="error" id="id_category_treading_error"></p>

    </div>
    <div class="col-sm-6 col-12">
        <input type="text" class="form-control" placeholder="Unionized" name="unionized"/>
        <p class="error" id="id_unionized_error"></p>

    </div>
    <div class="col-12">
        <input type="text" class="form-control" placeholder="Cutomer Type" name="customer_type"/>
        <p class="error" id="id_customer_type_error"></p>

    </div>
</div>
