<div class="row">
    <div class="col-sm-6 col-12">
        <input type="text" class="form-control" placeholder="Card Number"
               name="card_number"/>
        <p class="error" id="id_card_number_error"></p>

    </div>
    <div class="col-sm-6 col-12">
        <input type="text" class="form-control" placeholder="Name of Card"
               name="card_holder"/>
        <p class="error" id="id_card_holder_error"></p>

    </div>
    <div class="col-sm-6 col-12">
        <input type="date" class="form-control" placeholder="Expiration Date"
               name="expiry"/>
        <p class="error" id="id_expiry_error"></p>

    </div>
    <div class="col-sm-6 col-12">
        <input type="text" class="form-control" placeholder="CVV" name="cvv"/>
        <p class="error" id="id_cvv_error"></p>

    </div>
</div>

<div class="row dark-bg">
    <div class="col-12">
        <label class="sameAs-label check-container">
            <input type="checkbox" name="checkbox">
            <span class="checkmark"></span>
            Same as previous
        </label>
    </div>

    {% include 'merchant_forms/address_form.html' with second='_second' %}

    <div class="col-12">
        <input type="text" class="form-control" placeholder="Digital Signature" name="digital_signature"/>
        <p class="error" id="id_digital_signature_error"></p>

    </div>
</div>
