{% load static i18n %}

<div class="container-fluid footer--mainSection">
    <div class="container">
        <div class="row m-0 w-100 discover-mobileApp--section align-items-center justify-content-space-between">
            <img class="img-fluid mobile-appImg" src="{% static 'images/mobile-img.png' %}" alt="mobile-img">
            <h5 class="mb-0">Discover our mobile app</h5>
            <div class="mobile-appSection">
                <a class="d-inline-block mr-2" href="#">
                    <img class="img-fluid application" src="{% static 'images/app_store.png' %}" alt="app_store">
                </a>
                <a class="d-inline-block" href="#">
                    <img class="img-fluid application" src="{% static 'images/google_play.png' %}" alt="google_play">
                </a>
            </div>
        </div>

        <div class="row ml-0 mr-0 w-100 footer-second--details justify-content-space-between">
            <div class="footer-second--detsils">
                <h5 class="w-100">
                    <a href="../index.html">
                        ZIPCODE<span class="it">IT</span>
                    </a>
                </h5>
                <div class="select-section">
                    <select class="select--formMain">
                        <option>English</option>
{#                        <option>English</option>#}
{#                        <option>English</option>#}
                    </select>
                </div>
            </div>

            {% for indus in industries %}
            <div class="footer-second--detsils">
                <h6>{{ indus }}</h6>
                <ul class="list-inline mb-0">
                {% for type in indus.industry_type.all %}
                    <li>
                        <a href="{% url 'business:grid_view' %}?industry_type={{ type.type }}">{{ type.type }}</a>
                    </li>
                {% endfor %}

                </ul>
            </div>
            {% endfor %}

            <div class="footer-second--detsils">
                <ul class="list-inline mb-0">
                    <li>
                        <button class="register--account">{% trans 'Register Business' %}</button> # set js
                    </li>
                    <li>
                        <button class="create--account">{% trans 'Create Account' %}</button> # set js
                    </li>
                </ul>
            </div>
        </div>

        <div class="row m-0 w-100 footer-last--details align-items-center justify-content-space-between">
            <p class="mb-0">Zipcodeit &copy; {% now "Y"  %} </p>

            <ul class="mb-0 list-inline">
                <li class="list-inline-item">
                    <a class="d-flex align-items-center justify-content-center" href="#" aria-label="facebook"
                       target="_blank" rel="noopener">
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="d-flex align-items-center justify-content-center" href="#" aria-label="twitter"
                       target="_blank" rel="noopener">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="d-flex align-items-center justify-content-center" href="#" aria-label="google-plus"
                       target="_blank" rel="noopener">
                        <i class="fa fa-google-plus"></i>
                    </a>
                </li>
                # set social links
            </ul>
        </div>

    </div>
</div>
