        <div class="col-sm-6 col-xs-12 pr-0">
            <div class="row m-0 w-100 map-locationMain">
                <div id="map" style="width: 900px; height: 500px">

                </div>
            </div>
        </div>
