{% load static i18n %}

<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-select.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/cast.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/carousel.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/slider.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}">

<script src="{% static 'js/jQuery-v3.3.1.min.js' %}"></script>

<script src="{% static 'js/popper.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootstrap-select.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/slider-one.js' %}"></script>
<script type="text/javascript" src="{% static 'js/slider-testi.js' %}"></script>



<script type="text/javascript" src="{% static 'js/drf.js' %}"></script>
<script type="text/javascript" src="{% static 'SnackBar/dist/snackbar.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'SnackBar/dist/snackbar.min.css' %}"/>
<script type="text/javascript" src="{% static 'js/form_submit.js' %}"></script>
<script type="text/javascript" src="{% static 'js/form-toggling.js' %}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/shortcuts/infinite.js"></script>
<script type="text/javascript">
    function getLocation() {
        console.log('aman');
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }

    function showPosition(position) {
        document.getElementById('id_input_location').value = position.coords.latitude + ' , ' + position.coords.longitude;
    }
</script>

