{% load i18n static %}
<nav class="header-main--section header-innerMain w-100">
    <div class="row m-0 w-100 align-items-center justify-content-space-between">
        <div class="logo-left--main logo-left--innerSecond h-100 d-flex align-items-center justify-content-center">
            <a href="index.html" class="d-inline-block">ZIPCODE<span class="it">IT</span></a>
        </div>
        <div class="location-serch--form d-flex align-items-center h-100">
            <form enctype="multipart/form-data" class="mb-0 ml-auto mr-auto w-100">
							<span class="location--icn d-flex align-items-center justify-content-center">
								<img class="img-fluid" src="{% static 'static/location.png' %}" alt="location">
							</span>
                <input class="form-control" type="text" placeholder="Enter street address or zipcode">
                <button class="locate">{% trans 'Locate' %}</button>
            </form>
        </div>
        <div class="header-right--details">
            <ul class="list-inline mb-0">
                <li class="list-inline-item">
                    <a class="saved--btn d-flex align-items-center justify-content-center" href="#">
                        <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                        {% trans 'Saved' %}
                    </a>
                </li>
                <li class="list-inline-item mr-0">
                    <a class="d-flex align-items-center justify-content-center" href="#">Explore</a>
                </li>
                <li class="list-inline-item">
                    <a class="add-business--btn d-flex align-items-center justify-content-center" href="#"
                       data-toggle="modal" data-target="#addBusinessModal">{% trans 'Add Your Business' %}</a>
                </li>
                <li class="list-inline-item mr-0">
                    <a class="d-flex align-items-center justify-content-center " href="#" data-toggle="modal"
                       data-target="#loginModal">{% trans 'Log In' %}</a>
                </li>
                <li class="list-inline-item mr-0">
                    <a class="d-flex align-items-center justify-content-center sinup-btn" href="#" data-toggle="modal"
                       data-target="#signUpModal">{% trans 'Sign Up' %}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>