{% load i18n %}

<nav class="header-main--section w-100">
    <div class="container">
        <div class="row m-0 w-100 align-items-center justify-content-space-between">
            <div class="logo-left--main">
                <a href="index.html" class="d-inline-block">ZIPCODE<span class="it">IT</span></a>
            </div>
            <div class="header-right--details">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item mr-0">
                        <a class="d-flex align-items-center justify-content-center" data-toggle="modal"
                           data-target="#loginModal">{% trans 'Log In' %}</a>
                    </li>
                    <li class="list-inline-item mr-0">
                        <a class="d-flex align-items-center justify-content-center" data-toggle="modal"
                           data-target="#signUpForm">{% trans 'Sign up form' %}</a>
                    </li>
                    <li class="list-inline-item mr-0">
                        <a class="d-flex align-items-center justify-content-center" data-toggle="modal"
                           data-target="#signUpModal">{% trans 'Sign Up' %}</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="add-business--btn d-flex align-items-center justify-content-center"
                           data-toggle="modal" data-target="#addBusinessModal">{% trans 'Add Your Business' %}</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="saved--btn d-flex align-items-center justify-content-center" href="#">
                            <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                            {% trans 'Saved' %}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>



