{% load i18n %}
<div class="row m-0 w-100 descripation-detailsMain pt-3">
    <h6>{% trans 'Buy Online' %}</h6>
    <p class="mb-0">
        {{ ob_detail.buy_online }}
    </p>
    <ul class="list-inline mb-0">
        <li class="list-inline-item">
            <button class="shop--nowbtn">Shop Now</button>
        </li>
        <li class="list-inline-item">or</li>
        <li class="list-inline-item">
            <button class="visit-store-btn">Visit Store</button>
        </li>
    </ul>
</div>
