
    <ul class="list-inline mb-0 contact--details">
        <li class="list-inline-item">
            <span><i class="fa fa-phone" aria-hidden="true"></i></span>
            <a href="#">{{ object.phone }}</a>
        </li>
        <li class="list-inline-item">
            <span><i class="fa fa-at" aria-hidden="true"></i></span>
            <a href="#">{{ object.email }}</a>
        </li>
    </ul>
    <ul class="list-inline mb-0 social-details--s">

        {% for network in object.social.all %}
            <li class="list-inline-item mr-0">
                <a class="d-flex align-items-center justify-content-center" href="{{ network.url }}" target="_blank"
                   aria-label="{{ network.name }}" rel="noopener"><i class="{{ network.network }}"></i></a>
            </li>
        {% endfor %}

    </ul>
