{% load i18n %}


<div class="pharmacy-left--details d-flex align-items-center">
    <div class="dr--img">
        <img class="img-fluid" src="{{ ob_detail.icon.url }}">
    </div>
    <div class="dr-content--details">
        <h6 class="text-uppercase mb-0">{{ object.industry_type.category }} <span
                class="dot-sec">{{ object.industry_type.type }}</span></h6>
        <h5>{{ object.business_name }}</h5>
        <ul class="list-inline mb-0 d-flex align-items-center">
            <li class="list-inline-item">

                {% include 'components/star_ratings.html' with rating=object.rating %}

            </li>

            {#                                <li class="list-inline-item">#}
            {#                                    <a class="active" href="#">$</a>#}
            {#                                    <a href="#">$</a>#}
            {#                                    <a href="#">$</a>#}
            {#                                    <a href="#">$</a>#}
            {#                                </li>#}
            <li class="list-inline-item">
                <p class="mb-0">{{ live_distance }} away</p>
            </li>
        </ul>
    </div>
</div>



