{% load i18n %}
<div class="col-sm-6 col-12 pr-0 map-location--Inner">
    <div class="row m-0 w-100 iframe-map-section">
        <div id="map" width="100%" frameborder="0" style="border:0" allowfullscreen>

        </div>

{#        <div class="w-100 map-location--text d-flex align-items-center justify-content-space-between">#}
{#            <div class="text--app">#}
{#                <h6>{{ object.address.address_1 }}</h6>#}
{#                <p class="mb-0">{{ live_distance }} {% trans 'away'%} </p>#}
{#            </div>#}
{#            <div class="direction text-center">#}
{#                <i class="fa fa-location-arrow"></i>#}
{#                <span class="w-100 d-inline-block">{% trans 'Direction' %}</span>#}
{#            </div>#}
{#        </div>#}
    </div>
</div>
