{% if object.gallery.all.exists %}

    <div class="row w-100 heading-link-singlepage align-items-center justify-content-space-between">
        <h6 class="mb-0">Photo Gallery</h6>
        {% if object.gallery.all.length > 3 %}
            <a href="#">See all Photos</a>
        {% endif %}
    </div>
    <div class="row ml-0 mr-0 photo-gallery--slider">
        <div class="row m-0 w-100 row1 testi-silder--inner">
            <div class="col-12 p-0 testi_silder_inner">
                    <div class="carousel" data-flickity='{ "wrapAround": true }'>


                {% for item in object.gallery.all|slice:":3" %}
                    <div class="carousel-cell">
                        <div class="row m-0 w-100 test--section">
                            <img class="img-fluid" src="{{ item.image.url }}">
                        </div>
                    </div>
                {% endfor %}

                    </div>
            </div>
        </div>
    </div>
    <hr/>

{% endif %}
