{% load i18n %}
<div class="col-sm-5 col-12 pr-0 map-location--Inner">
    <div class="row m-0 w-100 iframe-map-section">
        <div id="map" style="width: 500px; height: 500px">

        </div>

        <div class="w-100 map-location--text d-flex align-items-center justify-content-space-between">
            <div class="text--app">
                <h6>{{ object.address.address_1 }}</h6>
                <p class="mb-0">{{ live_distance }} {% trans 'away'%} </p>
            </div>
            <div class="direction text-center">
                <a href="{% url 'business:direction_view' object.pk %}">
                <i class="fa fa-location-arrow"></i>
                <span class="w-100 d-inline-block">{% trans 'Direction' %}</span>
                </a>
            </div>
        </div>
    </div>
</div>
