{% load static %}
{% if object.business_reviews.all.exists %}
    <div class="row w-100 heading-link-singlepage align-items-center justify-content-space-between">
        <h6 class="mb-0">Reviews</h6>
        <ul class="list-inline mb-0">
            <li class="list-inline-item">
                <button>

                    {{ object.rating }}

                    {% include 'components/simple_star_rating.html' with rating=object.rating %}

                </button>
            </li>
            <li class="list-inline-item">
                {{ object.business_reviews.all|length }} review{{ object.business_reviews.all|length|pluralize }}
            </li>
        </ul>
    </div>

    <div class="row ml-0 mr-0 w-100 reviews--detailsInner">
        {% for review in object.business_reviews.all|slice:":3" %}
            <div class="col-12 col-sm-12 reviews--Sec d-flex">
                <div class="user-imgReview d-flex align-items-center justify-content-center">
                    <img class="img-fluid" src="
                            {% if review.user.avatar %}{{ review.user.avatar.url }}{% else %}{% static 'images/user.png' %}{% endif %}">
                </div>
                <div class="user-detailsReviews">
                    <h6>{{ review.user.full_name|default:"Anonymous User" }}<span
                            class="review--date">{{ review.created_at }}</span></h6>
                    <div class="review-rating w-100">
                        {% include 'components/star_ratings.html' with rating=review.rating class=" d-inline-block" %}
                    </div>
                    <p class="mb-0">
                        {{ review.review }}
                    </p>
                </div>
            </div>
        {% endfor %}
        {% if object.business_reviews.all > 3 %}
            <a href="#">See All Reviews</a>
        {% endif %}
    </div>
    <hr/>
{% endif %}

