{% load i18n %}
                    <div class="row m-0 w-100 descripation-tab--inner">
                        <ul class="nav nav-tabs w-100">
                            <li class="nav-item mb-0">
                                <a class="nav-link active" data-toggle="tab" href="#descripation">{% trans 'Descripation' %}</a>
                            </li>
                            <li class="nav-item mb-0">
                                <a class="nav-link" data-toggle="tab" href="{% url 'business:direction_view' object.pk %}">{% trans 'Reviews' %}</a><!-- href="#reviews" -->
                            </li>
                            <li class="nav-item mb-0">
                                <a class="nav-link" data-toggle="tab" href="#additionalinfo">{% trans 'Additional Info' %}</a>
                            </li>
                            <li class="nav-item mb-0">
                                <a class="nav-link" data-toggle="tab" href="#other">{% trans 'Other' %}</a>
                            </li>
                        </ul>



                        <!-- Tab panes -->
                        <div class="tab-content w-100">
                            <div class="tab-pane container active p-0" id="descripation">
                                <div class="row m-0 w-100 descripation-detailsMain pb-3">
                                    <h6>{{ object.name }}</h6>
                                    <p class="mb-0">
                                        {{ ob_detail.description }}
                                    </p>
                                </div>
                                <hr/>

                            </div>
                            <div class="tab-pane container fade p-0" id="reviews">
                                <div class="row m-0 w-100 descripation-detailsMain pb-3">
                                    <h6>{{ object.name }}</h6>
                                    <p class="mb-0">
                                        {{ ob_detail.reviews }}
                                    </p>
                                </div>
                                <hr/>

                            </div>
                            <div class="tab-pane container fade p-0" id="additionalinfo">
                                <div class="row m-0 w-100 descripation-detailsMain pb-3">
                                    <h6>{{ object.name }}</h6>
                                    <p class="mb-0">
                                        {{ ob_detail.additional_info }}

                                    </p>
                                </div>
                                <hr/>

                            </div>
                            <div class="tab-pane container fade p-0" id="other">
                                <div class="row m-0 w-100 descripation-detailsMain pb-3">
                                    <h6>{{ object.name }}</h6>
                                    <p class="mb-0">
                                        {{ ob_detail.other }}
                                    </p>
                                </div>
                                <hr/>
                            </div>

                            {% include 'choice_components/buy_online.html' %}

                        </div>
                    </div>
