{% load static %}
<!-- direction start end point -->
<div class="row  w-100 location-searc--formMain">
    <form class="mb-0 w-100" enctype="multipart/form-data">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="{{ start_address }} start_address">
            <span class="current-location">
									<img class="img-fluid" src="{% static 'images/location-o.png' %}">
								</span>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="{{ object.address.address_1 }}">
            <span class="location-form">
									<img class="img-fluid" src="{% static 'images/map-marker.png' %}">
								</span>
        </div>
        <div class="w-100 go--btnSection">
            <button>Go</button>
        </div>
    </form>
</div>


<hr/>

