{% load blank_forms js_form %}

{#    {% get_business_form as business_form %}#}
{#    {% get_address_form as address_form %}#}
{#    {% get_payment_form as payment_form %}#}
{% get_form_fields as form_fields %}
{#{% get_blank_form %}#}


<div class="modal" id="addBusinessModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 text-center form-process-bar">
                        <span data-target="" class="step">Basic Info</span>
                        <span class="step active">Billing Info</span>
                        <span class="step">Customer Type</span>
                    </div>
                    <div class="col-12 business-form">
                        <form id="regForm" method="post">
                            <div class="tab" data-tab="1">
                                <h4>Enter Company Information</h4>

                                {% include 'merchant_forms/business_form_1.html' %}

                            </div>

                            <div class="tab" data-tab="2">
                                <h4>Enter Billing Information</h4>
                                {% include 'merchant_forms/payment_form.html' %}
                            </div>
                            <div class="tab" data-tab="3">
                                <h4>Enter Customer Type</h4>

                                <div class="row">
                                    <div class="col-12">
                                        <input type="text" class="form-control" placeholder="Demography"/>
                                    </div>
                                    <div class="col-sm-6 col-12">
                                        <select class="selectpicker">
                                            <option>Age Range</option>
                                            <option>Demo</option>
                                            <option>Lorem Ipsum</option>
                                            <option>Dolar Amet</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 col-12">
                                        <select class="selectpicker">
                                            <option>Income Range</option>
                                            <option>Demo</option>
                                            <option>Lorem Ipsum</option>
                                            <option>Dolar Amet</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 col-12">
                                        <input type="text" class="form-control" placeholder="Category Trending To"/>
                                    </div>
                                    <div class="col-sm-6 col-12">
                                        <input type="text" class="form-control" placeholder="Unionized"/>
                                    </div>
                                    <div class="col-12">
                                        <input type="text" class="form-control" placeholder="Cutomer Type"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 text-center">
                                <button class="btn btn-prev " type="button" class="previous" id="prevBtn">Previous
                                </button>
                                <button class="btn btn-nxt btn-primary" type="button" class="next" id="nextBtn">Next
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{#		</div>#}
<script>

    $('.btn').click(function (event) {
        event.preventDefault();
        var target = $(this).data('target');
        // console.log('#'+target);
        $('#click-alert').html('data-target= ' + target).fadeIn(50).delay(3000).fadeOut(1000);

    });
    var currentTab = 0; // Current tab is set to be the first tab (0)
    showTab(currentTab); // Display the crurrent tab

    function showTab(n) {
        // This function will display the specified tab of the form...
        var x = document.getElementsByClassName("tab");
        x[n].style.display = "block";
        //... and fix the Previous/Next buttons:
        if (n == 0) {
            document.getElementById("prevBtn").style.display = "none";
        } else {
            document.getElementById("prevBtn").style.display = "inline";
        }
        if (n == (x.length - 1)) {
            document.getElementById("nextBtn").innerHTML = "Submit";
        } else {
            document.getElementById("nextBtn").innerHTML = "Next";
        }
        //... and run a function that will display the correct step indicator:
        fixStepIndicator(n)
    }

    function reset_errors_by_ids(fields) {
        console.log('fields are ' + fields);
        fields.forEach(field => {
            try {
                document.getElementById('id_' + field + '_error').innerHTML = null;

            } catch (e) {
                console.log('error at field id ' + 'id_' + field + '_error');
                console.log(e);
            }


        });
    }

    function set_errors_by_ids(errors) {
        for (let er in errors) {
            try {
                document.getElementById('id_' + er + '_error').innerHTML = '-> ' + errors[er];
            } catch (e) {
            }
        }
    }

    let form_state = 0;

    let proceed = false;

    function hit_form(url) {
        let form = $('#regForm');
        $.ajax({
                url: url,
                method: 'POST',
                data: form.serialize(),
                dataType: 'json',
                success: (data, textStatus) => {
                    debugger;
                    proceed = data.result;
                    console.log(proceed);
                    if (proceed === true) {
                        debugger;
                        form_state += 1;
                    } else {
                        set_errors_by_ids(data.errors)
                    }
                },
                error: (xhr, status, error_thrown) => {
                    debugger;
                    console.log(xhr);
                    console.log(status);
                    console.log(error_thrown);
                }
            }
        )

    }

    function movement_form(){
        var x = document.getElementsByClassName("tab");
        debugger;
            if (proceed === true) {
                document.getElementsByClassName("step")[currentTab].className += " finish";
                proceed = false;
                console.log(proceed);
            } else if (proceed === false && n === 1) {
                n = 0;
            }
            if (n === -1) {
                document.getElementsByClassName("step")[currentTab].className = "step";
                document.getElementsByClassName("step")[currentTab - 1].className = "step active";
                form_state -= 1;
            }
            // Hide the current tab:
            x[currentTab].style.display = "none";
            // Increase or decrease the current tab by 1:
            currentTab = currentTab + n;

            // if you have reached the end of the form...
            if (currentTab >= 3) {
                // ... the form gets submitted:
                document.getElementById("regForm").submit();
                return false;
            }
            // Otherwise, display the correct tab:
            showTab(currentTab);
            console.log(currentTab + '  ' + form_state);
    }

    function nextPrev(n) {
        // This function will figure out which tab to display
        if (n === 1) {
            debugger;
            let url;
            let fields = {{ form_fields|safe }};
            if (currentTab === 0) {
                url = {% url 'business:check_form_1' %};
            } else if (currentTab === 1) {
                url = {% url 'business:check_form_2' %};
            } else if (currentTab === 2) {
                url = {% url 'business:submit_form_3' %};
            }
            reset_errors_by_ids(fields);
            debugger;
            {#new Promise(resolve => {hit_form(url)}).then(() => movement_form());#}
            {#hit_form(url).then(movement_form());#}
        {#    new Promise(resolve => new Promise(resolve1 => console.log('promise')))#}
        {#        .then(() => new Promise(resolve => console.log('promise then')))#}
        {#        .then(() => new Promise(resolve => console.log('promise tried again then')))#}
        {#        .catch(e => console.log('errors ', e));#}
        }
        else {movement_form()}

        {#debugger;#}

    }

    function fixStepIndicator(n) {
        // This function removes the "active" class of all steps...
        var i, x = document.getElementsByClassName("step");
        for (i = 0; i < x.length; i++) {
            x[i].className = x[i].className.replace(" active", "");
        }
        //... and adds the "active" class on the current step:
        x[n].className += " active";
    }

    $(document).ready(function () {
        $('#prevBtn').click(function () {
            nextPrev(-1)
        })
        $('#nextBtn').click(function () {
            nextPrev(1)
        })
    })

</script>

{#<script type="text/javascript">#}
{#    $(document).ready(() => {#}
{##}
{#    });#}
{##}
{#</script>#}