<div class="row">
    <div class="col-sm-6 col-12">
        <input type="text" class="form-control" placeholder="Position" name="position"/>
        <p class="error" id="id_position_error"></p>
    </div>
    <div class="col-sm-6 col-12">
        <input type="text" class="form-control" placeholder="Business Name"
               name="business_name"/>
        <p class="error" id="id_business_name_error"></p>

    </div>
    <div class="col-sm-6 col-12">
        <select class="selectpicker" name="business_type">
            <option value="" selected>---------</option>
            <option value="1">f</option>
        </select>
        <p class="error" id="id_business_type_error"></p>
    </div>
    <div class="col-sm-6 col-12">
        <select class="selectpicker" name="industry_type">
            <option value="" selected>---------</option>
            <option value="1">Health &amp; Wellness - Services</option>
        </select>
        <p class="error" id="id_industry_type_error"></p>
    </div>

    {% include 'old/merchant_forms/address_form.html' %}

    <div class="col-12">
        <input type="email" class="form-control" placeholder="Email" name="email"/>
        <p class="error" id="id_email_error"></p>
    </div>
    <div class="col-12">
        <input type="number" class="form-control" placeholder="Number" name="phone"/>
        <p class="error" id="id_phone_error"></p>
    </div>
</div>
