{% extends 'base.html' %}
{% load i18n static %}
{% block page %}
    {% with object.additional_details as ob_detail %}

        <!--pharmacy-details-->

        <div class="container-fluid pharmacy-innerMain--fluid pharmacy-innerMain--fluidsingle">
            <div class="row m-0 w-100">
                <div class="col-sm-6 col-12 pl-0 discripationMain">

                    <div class="row m-0 w-100 row3 align-items-center justify-content-space-between">

                        {% include 'choice_components/choice-info.html' with object=object ob_detail=ob_detail %}
                        {% include 'choice_components/bookmark_reshare.html' with object=object ob_detail=ob_detail %}

                    </div>

                    <div class="row m-0 w-100 contact-details--row contact--row align-items-center justify-content-space-between">

                        <div class=" social-icn--contact-details d-flex align-items-center justify-content-space-between">
                            {% include 'choice_components/choice-contact.html' with object=object ob_detail=ob_detail %}
                        </div>

                        <div class="pharmacy-right--btn get-directionbtn">
                            <button>
                                <i class="fa fa-location-arrow"></i>
                                Get Directions
                            </button>
                        </div>
                    </div>


                    {% include 'choice_components/start_end_point.html' with object=object ob_detail=ob_detail %}

                    {% include 'choice_components/gallery_slider.html' with object=object ob_detail=ob_detail %}

                    {% include 'choice_components/reviews.html' with object=object ob_detail=ob_detail %}

                    {% include 'choice_components/additional_info_timing.html' with object=object ob_detail=ob_detail %}

                    {% include 'choice_components/buy_online.html' with object=object ob_detail=ob_detail %}

                </div>

                    {% include 'choice_components/direction_map.html' with object=object ob_detail=ob_detail %}


{#                <div class="col-sm-6 col-12 pr-0 map-location--Inner">#}
{#                    <div class="row m-0 w-100 iframe-map-section">#}
{#                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387190.279909073!2d-74.25987368715491!3d40.69767006458873!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sin!4v1548770465873"#}
{#                                width="100%" frameborder="0" style="border:0" allowfullscreen></iframe>#}
{#                    </div>#}
{#                </div>#}


            </div>
        </div>

        {% include 'choice_components/choice_page_recommended.html' with object=object ob_detail=ob_detail %}


    {% endwith %}

{% endblock %}

{% block html-js %}

    {% include 'choice_components/direction_map_js.html' with object=object ob_detail=ob_detail %}

{% endblock %}