{% extends 'base.html' %}
{% load i18n %}
{% block page %}
    {% with object.additional_details as ob_detail %}

        <div class="container-fluid pharmacy-innerMain--fluid">
            <div class="container-fluid pharmacy-details--fluid">
                <div class="container">
                    <div class="row m-0 w-100 row2 align-items-center justify-content-space-between">

                        <!-- logo name -->

                        {% include 'choice_components/choice-info.html' with object=object ob_detail=ob_detail %}
                        <div class="pharmacy-right--btn">
                            <button>{% trans 'Shop online' %}</button>
                        </div>

                    </div>
                </div>
            </div>

            <!--pharmacy naming info-->


            <!--pharmacy-details contact details-->

            <div class="container">
                <div class="row m-0 w-100">
                    <div class="col-sm-7 col-12 pl-0 discripationMain">
                        <div class="row m-0 w-100 contact-details--row align-items-center justify-content-space-between">

                            <!-- contact social network -->
                            {% include 'choice_components/choice-contact.html' with object=object ob_detail=ob_detail %}
                        </div>

                        <!-- description review info other -->
                        {% include 'choice_components/selection-div.html' with object=object ob_detail=ob_detail %}

                    </div>

                    {% include 'choice_components/map.html' with object=object ob_detail=ob_detail %}

                </div>

                <!--mobile app section-->

            </div>
        </div>
    {% endwith %}
{% endblock %}

{% block html-js %}
    {#    {% include 'choice_components/map-js.html' %}#}
{% endblock %}