{% load static i18n %}
<div class="row w-100 heading-link-singlepage align-items-center justify-content-space-between">
    <h6 class="mb-0">Additional info</h6>
</div>
<div class="row ml-0 mr-0 w-100 additional--info--main">
    <div class="additional--infoInner">
        <p class="text-uppercase">Openning Hours</p>
        <div class="openning-details">
            <span class="timing text-uppercase">Monday - Friday</span>
            <span class="timing">08:00 - 16:00</span>
        </div>
        <div class="openning-details">
            <span class="timing text-uppercase">Saturday - Sunday</span>
            <span class="timing">Closed</span>
        </div>
    </div>
    <div class="additional--infoInner">
        <p class="text-uppercase">Payment Method</p>
        <div class="openning-details">
            <span class="timing text-uppercase">Saturday - Sunday</span>
        </div>
    </div>
    <div class="additional--infoInner">
        <p class="text-uppercase">Prices</p>
        <div class="openning-details">
            <span class="timing text-uppercase">Saturday - Sunday</span>
        </div>
    </div>
</div>
<hr/>
