<div class="pharmacy-right--btn">
    <ul class="list-inline mb-0">
        <li class="list-inline-item mr-0">
            <a class="d-flex align-items-center justify-content-center " href="#"
               target="_blank" aria-label="bookmark" rel="noopener">
                <i class="fa fa-bookmark-o" aria-hidden="true"></i>
            </a>
        </li>
        <li class="list-inline-item mr-0">
            <a class="d-flex align-items-center justify-content-center " href="#"
               target="_blank" aria-label="share-square-o" rel="noopener">
                <i class="fa fa-share-square-o" aria-hidden="true"></i>
            </a>
        </li>
    </ul>
</div>
