<div class="container-fluid recommendationsMain exceriseMain bg-white">
    <div class="row ml-0 mr-0 pl-3 w-100 heading-all--section headng-inner2sec align-items-center justify-content-space-between">
        <h5 class="mb-0">You May Also Like</h5>
    </div>
    <div class="row m-0 w-100 rated-experinces--section align-items-center justify-content-space-between">

        {% include 'components/detail_business_icon.html' with  obj_list=recom_list %}

    </div>
</div>
