
<div class="modal login-modal" id="loginModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Log in</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <button class="btn login-with-btn">Login With Facebook</button>
                        <div class="dropdown-divider"><p class="divider-text">or</p></div>

                        <!-- login form -->

                        <form id="login-form" method="post" action="{% url 'user_account:login' %}">
                            {% csrf_token %}
                            <input type="email" class="form-control" placeholder="Enter Email or Phone Number" name="username" autofocus required id="id_username"/>
                            <input type="password" class="form-control" placeholder="Enter Password" name="password" required id="id_password"/>
                            <div class="row forgot-row">
                                <div class="col-sm-6 col-12">
                                    <label class="check-container">
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                        Remember Me
                                    </label>
                                </div>
                                <div class="col-sm-6 col-12 f-div">
                                    <a href="#">Forgot Password?</a>
                                </div>
                            </div>
                            <button class="btn btn-submit" id="login-bt" type="button">Login</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <p>Don't have an account? <a href="#" onclick="collapse_previous('.modal', '#signUpModal')">
                    Sign Up</a></p>
            </div>
        </div>
    </div>
</div>
