{% load static %}
<div class="modal login-modal" id="signUpModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Sign Up</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <button class="btn login-with-btn">
                            <img class="img-fluid" src="{% static 'images/facebook-icon.png' %}"/> Sign Up With Facebook
                        </button>
                        <button class="btn login-with-btn google-login-btn">
                            <img class="img-fluid" src="{% static 'images/google-icon.png' %}"/>Sign Up With Google
                        </button>
                        <div class="dropdown-divider"><p class="divider-text">or</p></div>
                        <button type="button" class="btn login-with-btn email-login-btn">
                            <img class="img-fluid" src="{% static 'images/email-icon.png' %}"/>Sign Up With Email
                        </button>
                        <div class="dropdown-divider"><p class="divider-text">or</p></div>
                        <button class="btn login-with-btn merchant-login-btn" >
                            <img class="img-fluid" src="{% static 'images/user-icon.png' %}"/>Sign Up as a Merchant
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <p>Already have an account? <a href="#">Login</a></p>
            </div>
        </div>
    </div>
</div>