{% for obj in obj_list %}
    <div class="experince--innerDetails exceriseMain--innerDetails ">
        <a href="#">
            <div class="row m-0 w-100 innerDetails--img">
                {% with obj.additional_details.icon.url  as url %}
                    <img class="img-fluid" src="{{ url }}">
                    <span class="cat-star--rating"><i class="fa fa-star"></i>{{ obj.rating }}</span>
                {% endwith %}
            </div>
            <div class="row m-0 w-100 innerDetails--content">
                <h6 class="text-uppercase">{{ obj.industry_type.category }} <span
                        class="before-dot">{{ obj.industry_type.type }}</span></h6>
                <h5>{{ obj.business_name }}</h5>
                <p>{{ obj.address.address_1 }}</p>
                <span class="mi-sec">{{ obj.live_distance }}mi</span>

            </div>
        </a>
    </div>
{% endfor %}
