{% load static i18n %}

    <div class="container-fluid banner-pager--main">
        <div class="container">
            <div class="heading-form--main w-100">
                <h3>{% trans 'Live A Smarter Life In Your Community.' %}</h3>
                <form enctype="multipart/form-data" class="mb-0 ml-auto mr-auto">
                    {% csrf_token %}
						<span class="location--icn d-flex align-items-center justify-content-center">
							<img class="img-fluid" src="{% static 'static/location.png' %}" alt="location">
						</span>
                    <input class="form-control" type="text" placeholder="Enter street address or zipcode" id="id_input_location">
                    <button class="locate">{% trans 'Locate' %}</button>
                </form>
                <a class="current--location d-flex align-items-center justify-content-center" href="#"
                   onclick="getLocation()">
                    <i class="fa fa-location-arrow" aria-hidden="true"></i>
                    {% trans 'Use Current location' %}
                </a>
            </div>
        </div>
    </div>
