
{% for obj in obj_list %}
    <div class="experince--innerDetails">
        <a href="{% url 'business:detail_view' obj.pk %}">
            <div class="row m-0 w-100 innerDetails--img">
                {% with obj.additional_details.icon.url  as url %}
                    <img class="img-fluid" src="{{ url }}">
                {% endwith %}
            </div>
            <div class="row m-0 w-100 innerDetails--content">
                <h6 class="text-uppercase">{{ obj.industry_type.category }} <span
                        class="before-dot">{{ obj.industry_type.type }}</span></h6>
                <h5>{{ obj.business_name }}</h5>
                <p>{{ obj.additional_details.description }}</p>
                {% include 'components/star_ratings.html' with rating=obj.get_rating %}
            </div>
        </a>
    </div>
{% endfor %}
