{% if rating >= 5 %}
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>

{% elif rating >= 4 %}
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>

{% elif rating >= 3 %}
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>

{% elif rating >= 2 %}
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>

{% elif rating >= 1 %}
    <i class="fa fa-star"></i>

{% else %}
    No Ratings
{% endif %}
