{% load static i18n %}

<script>


    function initMap() {
        {#var myLatLng = [-25.363, 131.044];#}

        let data_style = {business: null, lat: null, lng: null};

        let map_data = [];

        {% for item in list_qs %}
            {% if item.business_location %}
                map_data.push({
                    business: '{{ item.business_name }}',
                    lat: {{ item.business_location.x }},
                    lng: {{ item.business_location.y }},
                });
            {% endif %}
        {% endfor %}

        let avg_lat = 0;
        let avg_lng = 0;
        let max_lat = -100;
        let min_lat = 100;

        map_data.map(item => {
            avg_lat += item.lat;
            avg_lng += item.lng;
            if (item.lat > max_lat) {
                max_lat = item.lat;
            }
            if (item.lat < min_lat) {
                min_lat = item.lat;
            }

        });
        avg_lat = avg_lat / map_data.length;
        avg_lng = avg_lng / map_data.length;


        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 2,
            center: {lat: avg_lat, lng: avg_lng}
        });

        let marker_list = map_data.map(item => {
            return new google.maps.Marker({
                position: {lat: item.lat, lng: item.lng},
                map: map,
                title: item.business
            });
        });


    }
</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key={{ map_api_key }}&callback=initMap">
</script>

