{% load i18n %}

<div class="w-100 all-subheader-btnSection">
    <div class="row m-0 w-100 align-items-center justify-content-space-between h-100">
        <div class="all-btn--categoriesLeft">
            <ul class="mb-0 list-inline">
                <li class="active list-inline-item">
                    <button>{% trans "All" %}</button>
                </li>

                {% for categ in industries %}
                    <li class="list-inline-item">
                        <button type="button" class=" dropdown-toggle" data-toggle="collapse"
                                data-target="#health{{ forloop.counter }}">
                            {{ categ }}
                        </button>
                    </li>
                    <div id="health{{ forloop.counter }}" class="collapse col-12 sub-menu">
                        <div class="row m-0 feature--main feature-item-collapse align-items-center justify-content-space-between">

                            {% for type in categ.industry_type.all %}
                                <a class="d-inline-block" href="{% url 'business:grid_view' %}?industry_type={{ type.type }}">
                                    todo set url
                                    <div class="feature-section--details d-flex align-items-center active">
                                        <div class="feature-img">
                                            <img class="img-fluid" src="{{ type.icon.url }}">
                                        </div>
                                        <div class="feature-content">
                                            <h6 class="w-100 mb-0">{{ type.type }}</h6>
                                        </div>
                                    </div>
                                </a>
                            {% endfor %}

                        </div>
                    </div>
                {% endfor %}
            </ul>
        </div>


        <div class="search-filterSec--right">
            <ul class="mb-0 list-inline">
                <li class="list-inline-item">{% trans 'Search By' %}:</li>
                <li class="list-inline-item">
                    <button type="button" class="filter-btn text-uppercase collapsed" data-toggle="collapse"
                            data-target="#type">
                        Type
                    </button>
                    <div id="type" class="collapse col-12 sub-menutype">
                        <div class="row m-0 w-100">
                            <ul class="mb-0 list-inline w-100">

                                {% for busn in businesses %}
                                    <li class="checkTerm w-100">
                                        <label class="check-dom-dh mb-0">
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                            <span class="schedule">{{ busn.type }}</span>
                                        </label>
                                    </li>
                                {% endfor %}
                                <button class="apply-btn mt-3" id="filter">{% trans "Apply" %}</button>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="list-inline-item ">
                    <button class="text-uppercase">Location</button>
                </li>
                <li class="list-inline-item">
                    <button class="text-uppercase">Filter</button>
                </li>
                <li class="list-inline-item">
                    <button class="text-uppercase">Rating</button>
                </li>
            </ul>
        </div>
    </div>
</div>

<script type="text/javascript">

    $('#filter').click(console.log('filter'))

</script>