<div class="modal login-modal email-signup" id="signUpForm">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <p class="signup-title"><span>ZipCodeIt</span> helps you live a smart life in your community</p>
            </div>
            <div class="modal-body">
                <form class="login-form" method="post" enctype="multipart/form-data" action="{% url 'user_account:signup' %}" id="signup-form">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12">
                            <input type="email" class="form-control" placeholder="Email" name="email" maxlength="254" autofocus required id="id_email"/>
                        </div>
                        <div class="col-12">
                            <input type="password" class="form-control" placeholder="Password" name="password1" required id="id_password1"/>
                        </div>
                        <div class="col-12">
                            <input type="password" class="form-control" placeholder="Repeat Password" name="password2" required id="id_password2"/>
                        </div>
                        <div class="col-sm-6 col-12">
                            <input type="text" class="form-control" placeholder="First Name" name="first_name" maxlength="30" required id="id_first_name"/>
                        </div>
                        <div class="col-sm-6 col-12">
                            <input type="text" class="form-control" placeholder="Last Name" name="last_name" maxlength="150" required id="id_last_name"/>
                        </div>
{#                        <div class="col-12">#}
{#                            <input type="text" class="form-control" placeholder="Date Of Birth"/>#}
{#                        </div>#}
{#                        <div class="col-sm-6 col-12 gender-div">#}
{#                            <p>Gender</p>#}
{#                            <label> <input name="gen" type="radio"/> <span>Male</span></label>#}
{#                            <label class="radio-container">#}
{#                                <input type="radio" name="radio">#}
{#                                <span class="checkmark"></span>#}
{#                                Male#}
{#                            </label>#}
{#                            <label class="radio-container">#}
{#                                <input type="radio" name="radio">#}
{#                                <span class="checkmark"></span>#}
{#                                Female#}
{#                            </label>#}
{#                        </div>#}
{#                        <div class="col-sm-6 col-12">#}
{#                            <p>Profile Picture</p>#}
{#                            <input type="file"/>#}
{#                        </div>#}
                        <button class="btn btn-submit" id="signup-bt">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
