{% load static js_form %}

<form method="post" action="" id="test-form">

    {% csrf_token %}

        <input type="hidden" name="csrfmiddlewaretoken"
           value="bKVraTkkWf8i6R2yqC5uJsbJ12KiHXQgQ6j2eXnQVzfNGcybpZmgyCcHg1k9ydlx">
    <p><label for="id_position">Position:</label> <input type="text" name="position" maxlength="50"
                                                         id="id_position"></p>
    <p class="error" id="id_position_error"></p>
    <p><label for="id_business_name">Business Name:</label> <input type="text" name="business_name" maxlength="30"
                                                                    id="id_business_name"></p>
    <p class="error" id="id_business_name_error"></p>
    <p><label for="id_business_type">Business Type:</label> <select name="business_type"  id="id_business_type">
        <option value="" selected>---------</option>

        <option value="1">f</option>

    </select></p>
    <p><label for="id_industry_type">Industry Type:</label> <select name="industry_type"  id="id_industry_type">
        <option value="" selected>---------</option>

        <option value="1">Health &amp; Wellness - Services</option>

    </select></p>
    <p><label for="id_phone">Business Contact No.</label> <input type="number" name="phone" min="-9223372036854775808"
                                                                 max="9223372036854775807"  id="id_phone"></p>
    <p><label for="id_email">Email:</label> <input type="email" name="email" maxlength="254"  id="id_email"></p>
    <input type="submit" value="submit">

</form>


<button onclick="print_data()">print data</button>
<script src="{% static 'js/jQuery-v3.3.1.min.js' %}"></script>

<script type="text/javascript">

    let data;

    let er;

    let form_fields = {{ form|form_fields|safe }};

    function print_data() {
        console.log('Hi');
        set_ajax_form()
    }

    function set_errors(form_id,errors) {
        for (let er in errors){
            try {
            document.getElementById('id_'+er+'_error' ).innerHTML = '-> '+ errors[er] ;
            }
            catch (e) {
            }
        }
    }



    function set_ajax_form() {

        let form = $('#test-form').serialize();

        {#document.getElementById('#id__error' ).innerHTML = 'mana' ;#}

        $.ajax({
            url:{% url 'business:business_create' %},
            data: form,
            datatype: 'json',
            method: 'POST',
            success: (data) => {
                console.log(data);
                set_errors('#test-form', data)
            }
        })

    }

</script>
